#breadcrumbs{
	& > span > span > a{
		text-decoration: none;
		display: inline-block;
		width: 33px;
		height: 31px;
		color: transparent;
		vertical-align: 5px;
		background: url( 'assets/images/house-icon.gif' ) no-repeat;
	}
}