@import "jetpack";
@import "gravity-forms";
@import "owl.carousel";
@import "jquery.fancybox";
@import "yoast_breadcrumbs";

@include media($tablet-landscape){
  #mega-menu-wrap-primary-2 {
    display: none;
  }
}