//--------------------------------------------------------------
//   COLORS
//    - Primary palette
//    - Social Media Colors
//       - $social-colors() map

//   GRAYSCALE
//    - Black & White
//    - Grayscale
//
//   ELEMENTS & SKINNING
//     - General
//     - Accessibility
//     - Links
//     - Forms
//-------------------------------------------------------------

// COLORS

// Primary palette
$color-blue: #21759b;
$color-yellow: #dbe441;
$color-green: #005740;
$color-light-green: #99cc66;
$color-baby-blue: #e5eeec;


// Social Media Colors
$color-facebook: #3b5998;
$color-googleplus: #dd4b39;
$color-instagram: #517fa4;
$color-linkedin: #007bb6;
$color-pinterest: #cb2027;
$color-rss: #ff9900;
$color-twitter: #00aced;
$color-youtube: #bb0000;

// $social-colors() map
$social-colors: (
	facebook: $color-facebook,
	facebook-square: $color-facebook,
	googleplus: $color-googleplus,
	googleplus-square: $color-googleplus,
	instagram: $color-instagram,
	linkedin: $color-linkedin,
	linkedin-square: $color-linkedin,
	pinterest: $color-pinterest,
	pinterest-square: $color-pinterest,
	rss: $color-rss,
	rss-square: $color-rss,
	twitter: $color-twitter,
	twitter-square: $color-twitter,
	youtube: $color-youtube,
	youtube-square: $color-youtube,
);

// GRAYSCALE

// Black & White
$color-black: #000000;
$color-white: #ffffff;

// Grayscale
$color-gray: #3b3c3c;

$color-cod-gray: #111111;
$color-mineshaft: #333333;
$color-dove-gray: #666666;
$color-gray-alt: #929292;
$color-silver-chalice: #aaaaaa;
$color-silver: #cccccc;
$color-alto: #dddddd;
$color-gallery: #eeeeee;
$color-whitesmoke: #f1f1f1;

// ELEMENTS & SKINNING

// General
$color-background-body: $color-white;
$color-text-main: $color-cod-gray;
$color-background-hr: $color-silver;
$color-border-abbr: $color-dove-gray;

// Accessibility
$color-background-screen-reader: $color-whitesmoke;
$color-text-screen-reader: $color-blue;

// Links
$color-link: $color-blue;
$color-link-visited: $color-blue;
$color-link-hover: $color-blue;

// Forms
$color-background-button: $color-blue;
$color-border-input: $color-silver;
$color-text-input: $color-dove-gray;
$color-text-input-focus: $color-cod-gray;