// --------------------------------------------------------------
// Grid Settings - overrides default Bourbon Neat
// http://neat.bourbon.io/examples/
// --------------------------------------------------------------

$column: em(72);      // default width of your colums
$gutter: em(23);       // default width of the gutters
$max-width: em(1123);  // max-width of the grid/theme in pixels
$total-columns: 12;    // Number of columns

// To calculate grids see:
// http://www.gridsystemgenerator.com/gs02.php?GridWidth=1366&GridColumns=12&GridMarginLeft=10

// Set Bourbon's flex-grid variables to match what Neat is doing
// http://bourbon.io/docs/#flex-grid

$fg-column: $column;
$fg-gutter: $gutter;

// Optional - A handy visual grid overlay

$visual-grid: false;        // true/false
$visual-grid-color: pink;   // color of visual grid
$visual-grid-index: front;  // front/back
$visual-grid-opacity: 0.2;  // opacity of visual grid