/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
article{
	img {
		max-width:100%;
		height: auto;
		vertical-align:bottom;
	}
	.alignnone {
		margin:5px 20px 20px 0;
	}
	.aligncenter,
	div.aligncenter {
		display:block;
		margin:5px auto 5px auto;
	}
	.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	a img.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	a img.alignnone {
		margin:5px 20px 20px 0;
	}
	a img.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	a img.aligncenter {
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.wp-caption {
		background:#FFF;
		border:1px solid #F0F0F0;
		max-width:96%;
		padding:5px 3px 10px;
		text-align:center;
	}
	.wp-caption.alignnone {
		margin:5px 20px 20px 0;
	}
	.wp-caption.alignleft {
		margin:5px 20px 20px 0;
	}
	.wp-caption.alignright {
		margin:5px 0 20px 20px;
	}

	/*
	 * 2-up gallery
	 */
	.gallery-columns-2{
		@include clearfix;
		.gallery-item{
			@include span-columns(6);
		}
		.gallery-item:nth-of-type(2n+0){
			@include omega;
		}
	}
	/*
	 * 3-up gallery
	 */
	.gallery-columns-3{
		@include clearfix;
		.gallery-item{
			@include span-columns(4);
		}
		.gallery-item:nth-of-type(3n+0){
			@include omega;
		}
	}
	/*
	 * 4-up gallery
	 */
	.gallery-columns-4{
		@include clearfix;
		.gallery-item{
			@include span-columns(3);
		}
		.gallery-item:nth-of-type(4n+0){
			@include omega;
		}
	}

	.commentlist{
		margin-top: 40px;
	}
}








/*===========================================================================*\
	Evaero Shortcodes
\*===========================================================================*/
.double {
	padding: 0 15px;

	& ul {
		width: 100%;
		clear: both;
		@include clearfix;

		& li {
			float: none;
			width: 100%;
	
			&:last-child {
				margin-bottom: 0px;
			}

			@include media($tablet-portrait) {
				float: left;
				width: 50%;
			}
		}
	}

	p{
		display: none;
	}
}

.flex-grid{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;

	.flex-grid-item{
		flex: 100%;
		margin: 0 auto 30px;
	}

	.flex-grid-item-icon{
		margin: 25px auto;
		text-align: center;

		.icon-wrap{
			background: $color-baby-blue;
			text-align: center;
			height: 150px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 0 0 20px;
		}
	}

	@include media($tablet-portrait){
		.flex-grid-item-3{
			flex: 33%;
		}
		.flex-grid-item-2{
			flex: 1 1 300px;
		}
		.flex-grid-item-2:nth-child(even){		
			margin-left: 20px;	
		}	
		.flex-grid-item-icon{
			flex: 0 0 150px;
		}	
	}	
}


.flex-grid-double{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;

	.flex-grid-item{
		flex: 100%;

		@include media($tablet-portrait){
			flex: 1 1 300px;

			&:nth-child(even){		
				margin-left: 20px;	
			}	
		}
	}

	a.btn{
		width: 80%;
		display: block;
		margin: 30px auto 0;
	}
	
}

.panel{
	clear: both;	
	margin: 10px 0 20px;
	
	.panel-heading{
		background: $color-light-green;
		margin-bottom: 8px;
		padding: 10px;
	}
	.panel-body{
		padding: 10px;
	}
}

.cta{
	font-size: rem(28);
	line-height: 1.2;
	padding: 0 20px;
	text-align: center;
	display: block;
	margin: 20px 0;
	color: $color-dark-green;

	a{
		color: $color-black;
		font-family: $font-serif;
		font-weight: 800;
		text-decoration: none;
	}
}

.cta.giant{
	font-size: 2rem;
}

.cta.large{
	font-size: 1.75rem;
}

.cta.small{
	font-size: 1.25rem;
}

.cta.mini{
	font-size: 1.15rem;
}

.call-now, 
.cta-bottom{
	color: $color-black;
	margin: 20px 0;
	text-align: center;
	font-size: rem(28);
	font-weight: 100;
	clear:both;

	p{
		margin: 10px 0 0;
		font-weight: 800;
	}
	h3{
		font-size: 1.75rem;	
	}
	a{
		font-size: rem(28);
		color: $color-yellow;
		font-weight: 800;
		text-decoration: none;
	}
}

.page-bottom-cta{
	text-align: center;
	.cta{
		margin-bottom:0;
	}

	.call-sc,
	.call-sc a{
		font-size: 1.5rem;
		color: $color-yellow;
	}	
}

blockquote{
	border-left: 13px solid $color-light-green;
	font-weight: 400;
	margin: 20px 0;
	padding-left: 30px;

	p{
		font-style: italic;
	}
	.author{
		display: block;
		text-align: right;
	}
}

.pullquote{
	width: 100%;
	display: block;
	color: $color-dark-green;
	margin: 7px 0 65px 0;
	font-size: rem(22); 
	font-style: italic;
	font-family: $font-serif;
	line-height: 1.2;	
	padding: 24px 0;
	border-top: 5px solid $color-light-green;
	border-bottom: 5px solid $color-light-green;

	@media(min-width: 865px){
		margin: 7px 24px 65px -96px;
		width: 358px;
		float: left;
		font-size: rem(28);
	}
}

svg.phone-icon{
	position: relative;
	fill: $color-yellow;
	width: 32px;
	height: 43px;
	margin-right: 6px;	
	vertical-align: -11px;
}

a.phone{
	color: $color-yellow;
	text-decoration: none;
	font-family: $font-serif;
	font-size: rem(28);
}

.cta-banner{
	background: $color-black;
	color: $color-white;
	clear: both;
	margin: 40px 0 30px;

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	
	
	div{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 34px;

		@include media($phone-landscape){
			padding: 0 34px;
		}
	}
	img{	
		display: none;

		@include media($phone-landscape){
			display: block;
			flex: 0;
		}
	}
	span{
		flex: 100%;
		text-align: center;
	}
	.h3 + span{
		margin: 0 0 10px;
	}
}

