//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

.site-title {
	font-size: rem(48);
}

.site-description {
	font-size: rem(24);
	margin: 0 0 rem(24) 0;
}

header#masthead{
	background: $color-gray;

	@include media($phone-landscape){
		background: $color-green;	
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
	}
	
	.site-branding .wrap{
		position: relative;
		padding: 0;
		height: 52px;

		@include media($phone-landscape){
			padding: 30px 1.25em;
			height: auto;
		}
	}	

	.site-title{
		width: 70px;
		height: 39px;
		display: block;
		position: absolute;
		left: 17px;
		top: 5px;

		@include media($phone-landscape){
			width: 196px;
			height: 178px;
			top: 0;
			left: 20px;
		}

		.site-title-inner{
			position: relative;
			padding: 0;

			@include media($phone-landscape){
				padding: 30px 22px;
			}
		}

		a{
			position: relative;
			z-index: 1;
			display: block;
			font-size: 0;
		}

		.logo{
			width: 70px;
			height: 39px;

			@include media($phone-landscape){
				width: 151px;
				height: 85px;
			}
		}

		.ribbon{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 196px;
			height: 178px;
			display: none;

			@include media($phone-landscape){
				display: block;
			}
		}
	}

	.header-phone-links{
		float: right;
		position: relative;
		background: $color-yellow;
		width: 52px;
		height: 52px;
		border-radius: 6px;
		box-shadow: inset 0 -4px 0 #c2c83e;
		padding: 5px;

		@include media($phone-landscape){			
			background: none;
			width: auto;
			height: auto;
			box-shadow: none;
			padding: 0;
		}

		.ae-logo{
			fill: #ffffff;
			width: 55px;
			height: 29px;
			vertical-align: 12px;
			margin-right: 12px;

			display: none;

			@include media($phone-landscape){
				display: inline;
			}
		}

		img{
			display: none;

			@include media($phone-landscape){
				display: inline;
			}
		}

		.phone-icon{			
			width: 26px;
			height: 36px;
			vertical-align: super;
			margin-left: 10px;
			margin-right: 6px;
			display: block;
			position: absolute;

			
			@include media($phone-landscape){
				position: relative;
				display: inline;
				fill: $color-yellow;
				width: 32px;
				height: 43px;
			}
		}

		a.phone{
			text-decoration: none;
			color: $color-yellow;
			font-size: rem(29);
			font-family: $font-serif;
			font-weight: 800;
			vertical-align: 22px;
			display: block;
			text-indent: -999999px;
			position: absolute;
			top:0;
			right:0;
			z-index: 2;
			width: 52px;
			
			@include media($phone-landscape){
				display: inline;
				text-indent: 0;
				position: relative;
				top:auto;
				right:auto;
				z-index: 0;
				width: auto;
			}
		}

		ul{
			list-style: none;
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0;
			display: none;

			@include media($phone-landscape){
				display: block;
			}
		}

		li{
			display: inline;	
		}

		li a{
			text-decoration: none;
			color: #fff;
			font-size: rem(12);
			padding-right: 8px;
			border-right: 1px solid #fff;
		}

		li:last-child a{
			padding-right: 0;
			padding-left: 3px;
			border-right: none;
		}

	}
}