//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links
a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
}

// Navicon menu
.menu-toggle {
	display: block;

	.icon {
		@include size(rem(12) rem(14));

		display: inline-block;
		fill: $color-white;
		margin-right: rem(5);
		vertical-align: middle;
	}

	.menu-toggle-text {
		display: inline-block;
		vertical-align: middle;
	}

	@include media($phone-landscape) {
		display: none;
	}
}

// Main navigation container
.main-navigation {
	@include size(100% auto);

	clear: both;
	display: block;
	background: $color-light-green;

	.wrap{
		padding: 0;

		@include media($phone-landscape) {
			padding: 0 1.25em;
		}
	}

	// Menu area
	ul {
		display: none;

		@include media($phone-landscape) {
			display: block;
		}
	}

	&.toggled ul {
		display: block;
	}

	//FIRST LEVEL NAV
	.menu-main-menu-container > ul{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: stretch;
		align-content: stretch;
		
		a{
			color: $color-gray;
			padding: 0 22px;
			text-align: center;
		}
	}
}

// Menu defaults
.menu {
	@include list-reset;
	display: flex;

	li {
	}

	ul {
		@include list-reset;
	}

	a{
		font-weight: 600;
		font-size: rem(15);
		display: block;
		line-height: 1.2;
	}

	&.menu-horizontal {

		li {
			display: inline-block;
		}
	}

	&.menu-vertical {

		li {
			margin: 0;
		}

		a {
			padding: rem(10);
			border-bottom: 1px solid $color-background-hr;
		}
	}

	&.dropdown {

		// Sub-menu
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			left: -999em;
			position: absolute;
			top: em(24px);
			z-index: 99999;

			// Sub-sub menu
			ul {
				left: -999em;
				top: 0;
			}

			// Sub-menu items
			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			// Sub-menu links
			a {
				@include size(rem(200) auto);
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		// Display sub-menu on hover
		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		// Menu items
		li {
			position: relative;

			&:hover > a,
			&.focus > a {
			}
		}
	}

	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
	}

	// Current items
	.current_page_item a,
	.current-menu-item a {
	}
}

// Other navigation
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 rem(24) 0;
		overflow: hidden;
	}

	& .nav-previous {
		@include size(50% auto);

		float: left;
	}

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	}
}
