.secondary{
	h3.widget-title{
		color: $color-green;
		font-size: rem(18);
		text-align: center;
		border-bottom: 1px solid #bfc2c1;
		padding-bottom: 10px;
	}

	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li a{
		text-decoration: none;
		line-height: 2.2;
		color: $color-cod-gray;
	}

	.widget{
		margin-bottom: 28px;
	}

	.recent-posts-widget-with-thumbnails{
		a{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;
		}

		a img{
			margin-right: 24px;
		}

		a span{
			line-height: 1.2;
		}
	}

	.widget_widget_tptn_pop{
		li{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;
		}

		a.tptn_link{
			margin-right: 24px;
			flex: 0 0 70px;
			height: 70px;
			overflow: hidden;
		}

		img{
			width: auto;
			height: 100%;
			max-width: none;
		}

		span a{
			line-height: 1.2;
		}
	}
}