/*
Theme Name: Above it All
Theme URI: http://underscores.me/
Author: Automattic
Author URI: http://automattic.com/
Description: Hi. I'm a starter theme called <code>_s</code>, or <em>underscores</em>, if you like. I'm a theme meant for hacking so don't use me as a <em>Parent Theme</em>. Instead try turning me into the next, most awesome, WordPress theme out there. That's what I'm here for.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: aia
Tags: custom

This theme, like WordPress, is licensed under the GPL.

Based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.

Normalizing styles have been helped along thanks to the fine work of
Bo-Yi Wu (https://github.com/appleboy/), Nicolas Gallagher (https://github.com/necolas), and Jonathan Neal (https://github.com/jonathantneal).
*/
/* line 4, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box;
}

/* line 9, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/bower_components/neat/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit;
}

/* line 21, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
body {
  background: #ffffff;
  margin: 0;
  font-size: 16px;
}

/* line 46, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* line 65, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 80, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 88, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
[hidden],
template {
  display: none;
}

/* line 98, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
a {
  background-color: transparent;
}

/* line 105, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 115, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 121, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 134, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 141, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 175, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 206, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/* line 212, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 220, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 224, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 271, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
img {
  border: 0;
}

/* line 280, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 289, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
figure {
  margin: 1em 40px;
}

/* line 295, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/* line 303, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
pre {
  overflow: auto;
}

/* line 310, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* line 333, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 349, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
button {
  overflow: visible;
}

/* line 358, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 371, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 384, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 391, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 400, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
input {
  line-height: normal;
}

/* line 408, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 422, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 431, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/* line 442, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 449, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 460, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 471, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
textarea {
  overflow: auto;
}

/* line 478, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* line 487, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 492, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 5, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
body,
button,
input,
select,
textarea {
  color: #111111;
  font-family: "Raleway", sans-serif;
  line-height: 1.625;
}

/* line 17, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
h1,
.h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 3rem;
}

/* line 23, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
h2,
.h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 2.25rem;
  line-height: 1.3;
}

/* line 30, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
h3,
.h3 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.875rem;
  line-height: 1.3;
}

/* line 37, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
h4,
.h4 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
  line-height: 1.3;
}

/* line 44, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
h5,
.h5 {
  font-family: "Libre Baskerville", serif;
  font-size: 1.25rem;
  line-height: 1.3;
}

/* line 51, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
h6,
.h6 {
  font-family: "Libre Baskerville", serif;
  font-size: 1rem;
  line-height: 1.3;
}

/* line 60, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
p {
  margin: 0 0 1.5rem 0;
}

/* line 64, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
b,
strong {
  font-weight: 700;
}

/* line 69, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
dfn,
cite,
em,
i {
  font-style: italic;
}

/* line 76, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
blockquote,
q {
  margin: 0 1.5rem;
  quotes: "" "";
}

/* line 81, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
}

/* line 87, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
address {
  margin: 0 0 1.5rem 0;
}

/* line 91, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.9375rem;
  line-height: 1.625;
  margin: 0 0 1.5rem;
  max-width: 100%;
  overflow: auto;
  padding: 1.5rem;
}

/* line 101, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
code,
kbd,
tt,
var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.9375rem;
}

/* line 109, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
abbr,
acronym {
  border-bottom: 1px dotted #666666;
  cursor: help;
}

/* line 115, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
mark,
ins {
  text-decoration: none;
}

/* line 120, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 129, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
sup {
  bottom: 1ex;
}

/* line 133, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
sub {
  top: .5ex;
}

/* line 137, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
small {
  font-size: 75%;
}

/* line 141, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
big {
  font-size: 125%;
}

/* line 146, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_typography.scss */
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
  word-wrap: break-word;
  word-break: keep-all;
}

/* line 7, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_accessibility.scss */
.screen-reader-text {
  height: auto;
  width: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
}

/* line 15, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_accessibility.scss */
.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  height: auto;
  width: auto;
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  left: 0.3125rem;
  line-height: normal;
  padding: 0.9375rem 1.4375rem 0.875rem;
  text-decoration: none;
  top: 0.3125rem;
  z-index: 100000;
}

/* line 5, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_alignments.scss */
.alignleft {
  display: inline;
  float: left;
  margin: 0 1.5rem 0 0;
}

/* line 11, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_alignments.scss */
.alignright {
  display: inline;
  float: right;
  margin: 0 0 0 1.5rem;
}

/* line 17, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_alignments.scss */
.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 20, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.clear::after,
.entry-content::after,
.comment-content::after,
.site-header::after,
.site-content::after,
.site-footer::after {
  clear: both;
  content: "";
  display: table;
}

/* line 7, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_elements.scss */
embed,
iframe,
object {
  max-width: 100%;
}

/* line 13, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_elements.scss */
hr {
  height: 1px;
  width: auto;
  background-color: #cccccc;
  border: 0;
  margin: 0 0 1.5rem 0;
}

/* line 21, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_elements.scss */
figure {
  margin: 0;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_elements.scss */
ul,
ol {
  margin: 0 0 3rem 1.5rem;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_elements.scss */
ul {
  list-style: disc;
}

/* line 36, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_elements.scss */
ol {
  list-style: decimal;
}

/* line 40, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_elements.scss */
li > ul,
li > ol {
  margin: 0 0 0 1.5rem;
}

/* line 45, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_elements.scss */
dt {
  font-weight: 700;
}

/* line 49, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_elements.scss */
dd {
  margin: 0 1.5rem 1.5rem 0;
}

/* line 55, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_elements.scss */
table {
  height: auto;
  width: 100%;
  margin: 0 0 1.5rem 0;
}

/* line 61, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_elements.scss */
th {
  font-weight: 700;
}

/* line 9, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 18, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 24, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.wp-caption {
  margin: 0 0 1.5rem 0;
  max-width: 100%;
}

/* line 28, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

/* line 34, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.wp-caption.aligncenter {
  margin: 0 auto 1.5rem auto;
}

/* line 39, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.wp-caption.alignleft {
  margin-right: 1.5rem;
}

/* line 44, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.wp-caption.alignright {
  margin-left: 1.5rem;
}

/* line 48, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.wp-caption .wp-caption-text {
  margin: 0.75rem 0;
}

/* line 53, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.wp-caption-text {
  text-align: center;
}

/* line 59, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.gallery {
  margin: 0 0 1.5rem 0;
}

/* line 63, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.gallery-item {
  height: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

/* line 70, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

/* line 74, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

/* line 78, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

/* line 82, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

/* line 86, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

/* line 90, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

/* line 94, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

/* line 98, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

/* line 103, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_media.scss */
.gallery-caption {
  display: block;
}

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/* line 6, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_window-ready.scss */
.not-ready {
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
}

/* line 12, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/base/_window-ready.scss */
body.ready .not-ready {
  opacity: 1;
  visibility: visible;
}

/* line 12, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_layout.scss */
.wrap {
  max-width: 70.1875em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.875em;
}

/* line 20, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.wrap::after {
  clear: both;
  content: "";
  display: table;
}

/* line 22, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_layout.scss */
.site-content {
  margin: 1.25rem auto;
}

/* line 30, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_layout.scss */
.primary {
  width: 100%;
}

/* line 38, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_layout.scss */
.secondary {
  display: none;
}

/* line 1, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
#banner {
  min-height: 250px;
  background-color: #eeeeee;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

/* line 12, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
#banner .banner-inner {
  max-width: 70.1875em;
  margin-left: auto;
  margin-right: auto;
}

/* line 20, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
#banner .banner-inner::after {
  clear: both;
  content: "";
  display: table;
}

/* line 16, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
#banner .h1 {
  padding: 0 2.875em;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

/* line 23, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
#candy-bar {
  color: #ffffff;
  background: #3b3c3c;
  text-align: center;
  padding: 28px;
  margin: 50px 0;
}

/* line 39, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
#candy-bar .h2 {
  display: block;
  font-size: 1.3125rem;
}

/* line 54, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
#candy-bar p {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 7px 0;
}

/* line 60, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
#candy-bar a {
  color: #dbe441;
  text-decoration: none;
  font-size: 1.75rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
}

/* line 68, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
#candy-bar .phone-icon {
  fill: #dbe441;
  width: 32px;
  height: 43px;
  vertical-align: top;
  margin-right: 4px;
}

/* line 1, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer {
  padding: 45px 0;
  background: #3b3c3c;
}

/* line 5, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .wrap {
  padding: 0 2.875em;
}

/* line 9, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 16, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-col {
  margin: 0 auto 20px;
  -webkit-flex: 1 1 320px;
      -ms-flex: 1 1 320px;
          flex: 1 1 320px;
}

/* line 21, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-logo {
  text-align: center;
}

/* line 24, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-logo img {
  width: 70%;
}

/* line 29, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-cta {
  color: #ffffff;
  text-align: center;
}

/* line 33, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-cta .line-1 {
  text-transform: uppercase;
  display: block;
  font-size: 1.1875rem;
  letter-spacing: 4px;
  line-height: 1;
  text-indent: 4px;
}

/* line 42, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-cta .line-2 {
  text-transform: uppercase;
  display: block;
  font-size: 1.75rem;
  line-height: 1;
}

/* line 49, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-cta a.phone {
  color: #dbe441;
  font-weight: 800;
  font-family: "Libre Baskerville", serif;
  font-size: 30px;
  text-decoration: none;
  border-top: 1px solid #dbe441;
  border-bottom: 1px solid #dbe441;
}

/* line 59, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-cta .line-3 {
  text-transform: uppercase;
  display: block;
}

/* line 65, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-social {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex: 0 1 172px;
      -ms-flex: 0 1 172px;
          flex: 0 1 172px;
}

/* line 69, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-social .h6 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  display: block;
  margin: 0 0 10px;
}

/* line 80, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-social li {
  width: 44px;
  height: 44px;
  border: 2px solid #ffffff;
  margin: 0 5px 10px;
}

/* line 87, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-social a {
  display: block;
  padding: 10px;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 95, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-social .icon-twitter {
  width: 15px;
  height: 20px;
}

/* line 100, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-social .icon-googleplus {
  width: 21px;
  height: 19px;
}

/* line 105, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-social .icon-youtube {
  width: 15px;
  height: 17px;
}

/* line 110, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-social .icon-pinterest {
  width: 21px;
  height: 21px;
}

/* line 115, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-social .icon-linkedin {
  width: 21px;
  height: 20px;
}

/* line 121, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-top .footer-loan {
  text-align: center;
  padding-top: 26px;
}

/* line 127, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-bottom {
  text-align: center;
  font-size: 0.75rem;
}

/* line 131, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-bottom .menu {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 12px;
}

/* line 139, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-bottom li {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin: 0 4px;
  border-right: 1px solid #dbe441;
  padding-right: 8px;
}

/* line 145, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-bottom li:last-child {
  border-right: none;
}

/* line 150, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-bottom li a {
  color: #dbe441;
  font-size: 0.75rem;
  font-weight: 400;
}

/* line 156, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_footer.scss */
footer.site-footer .footer-bottom .copyright-text {
  color: #99cc66;
}

/* line 1, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_insurance.scss */
#insurance {
  background: #005740;
  color: #ffffff;
  text-align: center;
  padding: 26px 0;
}

/* line 7, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_insurance.scss */
#insurance .h3 {
  display: block;
  color: #99cc66;
  font-size: 1.125rem;
}

/* line 13, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_insurance.scss */
#insurance img {
  margin: 12px;
  vertical-align: middle;
}

/* line 18, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_insurance.scss */
#insurance .insurance {
  margin-bottom: 30px;
}

/* line 5, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
.site-title {
  font-size: 3rem;
}

/* line 9, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
.site-description {
  font-size: 1.5rem;
  margin: 0 0 1.5rem 0;
}

/* line 14, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead {
  background: #3b3c3c;
}

/* line 26, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .site-branding .wrap {
  position: relative;
  padding: 0;
  height: 52px;
}

/* line 37, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .site-title {
  width: 70px;
  height: 39px;
  display: block;
  position: absolute;
  left: 17px;
  top: 5px;
}

/* line 52, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .site-title .site-title-inner {
  position: relative;
  padding: 0;
}

/* line 61, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .site-title a {
  position: relative;
  z-index: 1;
  display: block;
  font-size: 0;
}

/* line 68, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .site-title .logo {
  width: 70px;
  height: 39px;
}

/* line 78, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .site-title .ribbon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 196px;
  height: 178px;
  display: none;
}

/* line 93, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .header-phone-links {
  float: right;
  position: relative;
  background: #dbe441;
  width: 52px;
  height: 52px;
  border-radius: 6px;
  box-shadow: inset 0 -4px 0 #c2c83e;
  padding: 5px;
}

/* line 111, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .header-phone-links .ae-logo {
  fill: #ffffff;
  width: 55px;
  height: 29px;
  vertical-align: 12px;
  margin-right: 12px;
  display: none;
}

/* line 125, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .header-phone-links img {
  display: none;
}

/* line 133, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .header-phone-links .phone-icon {
  width: 26px;
  height: 36px;
  vertical-align: super;
  margin-left: 10px;
  margin-right: 6px;
  display: block;
  position: absolute;
}

/* line 152, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .header-phone-links a.phone {
  text-decoration: none;
  color: #dbe441;
  font-size: 1.8125rem;
  font-family: "Libre Baskerville", serif;
  font-weight: 800;
  vertical-align: 22px;
  display: block;
  text-indent: -999999px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 52px;
}

/* line 178, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .header-phone-links ul {
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  display: none;
}

/* line 191, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .header-phone-links li {
  display: inline;
}

/* line 195, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .header-phone-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.75rem;
  padding-right: 8px;
  border-right: 1px solid #fff;
}

/* line 203, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
header#masthead .header-phone-links li:last-child a {
  padding-right: 0;
  padding-left: 3px;
  border-right: none;
}

/* line 6, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
a {
  color: #21759b;
}

/* line 9, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
a:visited {
  color: #21759b;
}

/* line 13, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
a:hover, a:focus, a:active {
  color: #21759b;
}

/* line 21, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu-toggle {
  display: block;
}

/* line 24, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu-toggle .icon {
  height: 0.875rem;
  width: 0.75rem;
  display: inline-block;
  fill: #ffffff;
  margin-right: 0.3125rem;
  vertical-align: middle;
}

/* line 33, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu-toggle .menu-toggle-text {
  display: inline-block;
  vertical-align: middle;
}

/* line 44, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.main-navigation {
  height: auto;
  width: 100%;
  clear: both;
  display: block;
  background: #99cc66;
}

/* line 51, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.main-navigation .wrap {
  padding: 0;
}

/* line 60, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.main-navigation ul {
  display: none;
}

/* line 68, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.main-navigation.toggled ul {
  display: block;
}

/* line 73, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.main-navigation .menu-main-menu-container > ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}

/* line 81, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.main-navigation .menu-main-menu-container > ul a {
  color: #3b3c3c;
  padding: 0 22px;
  text-align: center;
}

/* line 90, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 20, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.menu::after {
  clear: both;
  content: "";
  display: table;
}

/* line 97, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 20, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.menu ul::after {
  clear: both;
  content: "";
  display: table;
}

/* line 101, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu a {
  font-weight: 600;
  font-size: 0.9375rem;
  display: block;
  line-height: 1.2;
}

/* line 110, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu.menu-horizontal li {
  display: inline-block;
}

/* line 117, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu.menu-vertical li {
  margin: 0;
}

/* line 121, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu.menu-vertical a {
  padding: 0.625rem;
  border-bottom: 1px solid #cccccc;
}

/* line 130, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu.dropdown ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  left: -999em;
  position: absolute;
  top: 1.5em;
  z-index: 99999;
}

/* line 139, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu.dropdown ul ul {
  left: -999em;
  top: 0;
}

/* line 147, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu.dropdown ul li:hover > ul,
.menu.dropdown ul li.focus > ul {
  left: 100%;
}

/* line 154, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu.dropdown ul a {
  height: auto;
  width: 12.5rem;
}

/* line 168, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu.dropdown li:hover > ul,
.menu.dropdown li.focus > ul {
  left: auto;
}

/* line 174, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu.dropdown li {
  position: relative;
}

/* line 184, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.menu a {
  display: block;
  text-decoration: none;
}

/* line 200, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5rem 0;
  overflow: hidden;
}

/* line 205, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  height: auto;
  width: 50%;
  float: left;
}

/* line 211, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  height: auto;
  width: 50%;
  float: right;
  text-align: right;
}

/* line 7, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_content.scss */
.entry-title {
  font-size: 2.25rem;
}

/* line 11, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_content.scss */
.sticky {
  display: block;
}

/* line 15, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_content.scss */
.hentry {
  margin: 0 0 1.5rem 0;
}

/* line 19, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_content.scss */
.byline,
.updated:not(.published) {
  display: none;
}

/* line 24, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_content.scss */
.single .byline,
.group-blog .byline {
  display: inline;
}

/* line 29, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_content.scss */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5rem 0 0;
}

/* line 35, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_content.scss */
.page-links {
  margin: 0 0 1.5rem 0;
  clear: both;
}

/* line 41, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_content.scss */
.edit-link {
  margin: 0 1.5rem;
}

/* line 47, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_content.scss */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* line 5, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 14, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #666666;
  border: none;
  border-radius: 0;
  color: #ffffff;
  min-height: 1.9375rem;
  vertical-align: top;
  -webkit-appearance: none;
}

/* line 26, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #333333;
}

/* line 30, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
  background-color: #333333;
}

/* line 36, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

/* line 42, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
input[type="text"]::-ms-clear,
input[type="search"]::-ms-clear {
  display: none;
}

/* line 47, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/* line 51, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 56, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 62, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea {
  color: #666666;
  border: 1px solid #cccccc;
  border-radius: 0;
  line-height: 1.45;
  padding: 0.1875rem 0.3125rem;
  -webkit-appearance: none;
}

/* line 77, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea:focus {
  color: #111111;
}

/* line 82, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_forms.scss */
textarea {
  height: auto;
  width: 100%;
  overflow: auto;
  vertical-align: top;
}

/* line 5, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_comments.scss */
.comments-title {
  font-size: 1.5rem;
}

/* line 9, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_comments.scss */
.comment-list {
  list-style: none;
  margin: 0;
}

/* line 14, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_comments.scss */
.comment-meta {
  margin: 0 0 0.875rem 0;
}

/* line 18, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_comments.scss */
.avatar {
  margin: 0 0.625rem 0 0;
  float: left;
}

/* line 24, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_comments.scss */
.bypostauthor {
  display: block;
}

/* line 6, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

/* line 18, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon {
  display: inline-block;
  margin-right: 0.75rem;
  vertical-align: top;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-facebook {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-facebook:hover {
  fill: #3b5998;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-facebook-square {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-facebook-square:hover {
  fill: #3b5998;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-googleplus {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-googleplus:hover {
  fill: #dd4b39;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-googleplus-square {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-googleplus-square:hover {
  fill: #dd4b39;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-instagram {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-instagram:hover {
  fill: #517fa4;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-linkedin {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-linkedin:hover {
  fill: #007bb6;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-linkedin-square {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-linkedin-square:hover {
  fill: #007bb6;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-pinterest {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-pinterest:hover {
  fill: #cb2027;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-pinterest-square {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-pinterest-square:hover {
  fill: #cb2027;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-rss {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-rss:hover {
  fill: #ff9900;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-rss-square {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-rss-square:hover {
  fill: #ff9900;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-twitter {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-twitter:hover {
  fill: #00aced;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-twitter-square {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-twitter-square:hover {
  fill: #00aced;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-youtube {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-youtube:hover {
  fill: #bb0000;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-youtube-square {
  height: 1.5rem;
  width: 1.5rem;
  fill: #ffffff;
}

/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon .icon-youtube-square:hover {
  fill: #bb0000;
}

/* line 39, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
.social-icons .social-icon:last-child {
  margin-right: 0;
}

/* line 2, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_sidebar.scss */
.secondary h3.widget-title {
  color: #005740;
  font-size: 1.125rem;
  text-align: center;
  border-bottom: 1px solid #bfc2c1;
  padding-bottom: 10px;
}

/* line 10, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_sidebar.scss */
.secondary ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 16, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_sidebar.scss */
.secondary li a {
  text-decoration: none;
  line-height: 2.2;
  color: #111111;
}

/* line 22, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_sidebar.scss */
.secondary .widget {
  margin-bottom: 28px;
}

/* line 27, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_sidebar.scss */
.secondary .recent-posts-widget-with-thumbnails a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 35, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_sidebar.scss */
.secondary .recent-posts-widget-with-thumbnails a img {
  margin-right: 24px;
}

/* line 39, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_sidebar.scss */
.secondary .recent-posts-widget-with-thumbnails a span {
  line-height: 1.2;
}

/* line 45, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_sidebar.scss */
.secondary .widget_widget_tptn_pop li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 53, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_sidebar.scss */
.secondary .widget_widget_tptn_pop a.tptn_link {
  margin-right: 24px;
  -webkit-flex: 0 0 70px;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  height: 70px;
  overflow: hidden;
}

/* line 60, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_sidebar.scss */
.secondary .widget_widget_tptn_pop img {
  width: auto;
  height: 100%;
  max-width: none;
}

/* line 66, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_sidebar.scss */
.secondary .widget_widget_tptn_pop span a {
  line-height: 1.2;
}

/* line 7, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/plugins/_jetpack.scss */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* line 14, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/plugins/_jetpack.scss */
.infinity-end.neverending .site-footer {
  display: block;
}

/* line 3, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main,
.archive main {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* line 10, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main > h2,
.blog main > p,
.archive main > h2,
.archive main > p {
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

/* line 15, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main .posts-nav-wrap,
.archive main .posts-nav-wrap {
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

/* line 19, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main article.hentry,
.archive main article.hentry {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-justify-content: flex-star;
      -ms-flex-pack: flex-star;
          justify-content: flex-star;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex: 0 1 358px;
      -ms-flex: 0 1 358px;
          flex: 0 1 358px;
  margin: 0 0 50px;
  border: 4px solid #005740;
  min-height: 480px;
  padding-bottom: 20px;
}

/* line 41, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main article.hentry header.entry-header,
.archive main article.hentry header.entry-header {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  padding: 0 33px;
}

/* line 47, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main article.hentry .entry-image,
.archive main article.hentry .entry-image {
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  border-bottom: 16px solid #99cc66;
  background-color: #99cc66;
}

/* line 53, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main article.hentry footer.entry-footer,
.archive main article.hentry footer.entry-footer {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  width: 100%;
  padding: 20px 33px 0;
}

/* line 59, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main h1,
.archive main h1 {
  line-height: 1;
  margin: 0;
}

/* line 64, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main h1 a,
.archive main h1 a {
  font-size: 1.75rem;
  font-weight: 400;
  color: #005740;
  text-decoration: none;
}

/* line 71, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main .cat-links a,
.archive main .cat-links a {
  text-decoration: none;
  color: #005740;
  font-weight: 600;
}

/* line 77, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main .pagination,
.archive main .pagination {
  text-align: center;
}

/* line 81, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main .posts-nav-wrap .svg-logo,
.archive main .posts-nav-wrap .svg-logo {
  width: 178px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

/* line 88, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main .posts-nav-wrap .page-numbers,
.archive main .posts-nav-wrap .page-numbers {
  display: inline-block;
  width: 46px;
  height: 46px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.125rem;
  background-color: #005740;
  margin: 0 6px;
}

/* line 101, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main .posts-nav-wrap .page-numbers.current,
.archive main .posts-nav-wrap .page-numbers.current {
  background-color: #99cc66;
}

/* line 105, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
.blog main .posts-nav-wrap .page-numbers.dots,
.archive main .posts-nav-wrap .page-numbers.dots {
  color: #3b3c3c;
  background-color: transparent;
  font-size: 30px;
  line-height: 1.2;
  width: 14px;
}

/* line 5, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/widgets/_widgets.scss */
.widget {
  margin: 0 0 1.5rem;
}

/* line 9, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/widgets/_widgets.scss */
.widget select {
  max-width: 100%;
}

/* line 16, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/widgets/_widgets.scss */
.widget_search .search-submit {
  display: none;
}

@media (min-width: 467px) and (max-width: 825px) {/* line 19, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
  .blog main article.hentry,
  .archive main article.hentry {
    margin: 0 auto 50px;
  }
}

@media screen and (min-width: 40rem) {/* line 6, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_layout.scss */
  .site {
    padding-top: 129px;
  }/* line 14, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead {
    background: #005740;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }/* line 26, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead .site-branding .wrap {
    padding: 30px 1.25em;
    height: auto;
  }/* line 37, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead .site-title {
    width: 196px;
    height: 178px;
    top: 0;
    left: 20px;
  }/* line 52, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead .site-title .site-title-inner {
    padding: 30px 22px;
  }/* line 68, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead .site-title .logo {
    width: 151px;
    height: 85px;
  }/* line 78, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead .site-title .ribbon {
    display: block;
  }/* line 93, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead .header-phone-links {
    background: none;
    width: auto;
    height: auto;
    box-shadow: none;
    padding: 0;
  }/* line 111, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead .header-phone-links .ae-logo {
    display: inline;
  }/* line 125, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead .header-phone-links img {
    display: inline;
  }/* line 133, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead .header-phone-links .phone-icon {
    position: relative;
    display: inline;
    fill: #dbe441;
    width: 32px;
    height: 43px;
  }/* line 152, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead .header-phone-links a.phone {
    display: inline;
    text-indent: 0;
    position: relative;
    top: auto;
    right: auto;
    z-index: 0;
    width: auto;
  }/* line 178, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_header.scss */
  header#masthead .header-phone-links ul {
    display: block;
  }/* line 21, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
  .menu-toggle {
    display: none;
  }/* line 51, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
  .main-navigation .wrap {
    padding: 0 1.25em;
  }/* line 60, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_navigation.scss */
  .main-navigation ul {
    display: block;
  }
}

@media screen and (min-width: 48rem) {/* line 23, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
  #candy-bar {
    background: #3b3c3c url(assets/images/cta-bg.png) no-repeat 0 0;
    padding: 18px 18px 18px 245px;
  }/* line 39, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
  #candy-bar .h2 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 64rem) {/* line 30, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_layout.scss */
  .primary {
    float: left;
    display: block;
    margin-right: 2.0590868397%;
    width: 65.9803043868%;
  }/* line 89, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .primary:last-child {
    margin-right: 0;
  }/* line 38, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_layout.scss */
  .secondary {
    float: left;
    display: block;
    margin-right: 2.0590868397%;
    width: 31.9606087735%;
  }/* line 89, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .secondary:last-child {
    margin-right: 0;
  }/* line 39, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
  #candy-bar .h2 {
    font-size: 1.3125rem;
  }/* line 22, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_insurance.scss */
  #insurance .insurance {
    padding-right: 22px;
    padding-top: 26px;
    padding-bottom: 26px;
    float: left;
    width: 50%;
  }/* line 32, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_insurance.scss */
  #insurance .accreditation {
    padding-left: 22px;
    padding-top: 26px;
    padding-bottom: 26px;
    float: left;
    width: 50%;
    border-left: 1px solid #99cc66;
  }/* line 6, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/modules/_icons.scss */
  .social-icons {
    float: left;
    text-align: left;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {/* line 19, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/views/_blog.scss */
  .blog main article.hentry,
  .archive main article.hentry {
    -webkit-flex: 0 1 300px;
    -ms-flex: 0 1 300px;
    flex: 0 1 300px;
  }
}

@media screen and (min-width: 85.375rem) {/* line 12, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_layout.scss */
  .wrap {
    padding: 0;
  }/* line 22, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_layout.scss */
  .site-content {
    margin: 2.5rem auto 3.75rem;
  }/* line 23, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
  #candy-bar {
    padding: 18px 18px 18px 255px;
  }/* line 39, C:/Users/rpasillas/Desktop/Clients/serverpress/aboveitall.dev/wp-content/themes/aboveitall-v2/assets/sass/structure/_banners.scss */
  #candy-bar .h2 {
    font-size: 1.75rem;
  }
}
/*# sourceMappingURL=style.css.map */