#banner{
	min-height: 250px;
	background-color: $color-gallery;
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;

	.banner-inner{
		@include outer-container;
	}

	.h1{
		padding: 0 2*$gutter;
		color: $color-white;
		text-shadow: 0 0 10px rgba(0,0,0,.75);
	}
}

#candy-bar{
	color: #ffffff;
	background: $color-gray;
	text-align: center;
	padding: 28px;
	margin: 50px 0;

	@include media($tablet-portrait){
		background: $color-gray url(assets/images/cta-bg.png) no-repeat 0 0;
		padding: 18px 18px 18px 245px;
	}

	@include media($desktop){
		padding: 18px 18px 18px 255px;
	}

	.h2{
		display: block;
		font-size: rem(21);

		@include media($tablet-portrait){
			font-size: rem(24); 
		}
		@include media($tablet-landscape){
			font-size: rem(21); 
		}
		@include media($desktop){
			font-size: rem(28); 
		}
	}

	p{
		font-size: rem(18);
		line-height: 1.2;
		margin: 7px 0;
	}

	a{
		color: $color-yellow;
		text-decoration: none;
		font-size: rem(28);
		font-family: $font-serif;
		font-weight: 600;
	}

	.phone-icon{
		fill: $color-yellow;
		width: 32px;
		height: 43px;
		vertical-align: top;
		margin-right: 4px;
	}
}