footer.site-footer {
	padding: 45px 0;
	background: $color-gray;

	.wrap{
		padding: 0 2*$gutter;
	}

	.footer-top{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		.footer-col{
			margin: 0 auto 20px;
			flex: 1 1 320px;
		}

		.footer-logo{
			text-align: center;

			img{
				width: 70%;
			}
		}

		.footer-cta{
			color: #ffffff;
			text-align: center;

			.line-1{
				text-transform: uppercase;
				display: block;
				font-size: rem(19);
				letter-spacing: 4px;
				line-height: 1;
				text-indent: 4px;
			}

			.line-2{
				text-transform: uppercase;
				display: block;
				font-size: rem(28);
				line-height: 1;
			}

			a.phone{
				color: $color-yellow;
				font-weight: 800;
				font-family: $font-serif;
				font-size: 30px;
				text-decoration: none;
				border-top: 1px solid $color-yellow;
				border-bottom: 1px solid $color-yellow;
			}

			.line-3{
				text-transform: uppercase;
				display: block;
			}
		}

		.footer-social{
			flex-wrap: wrap;
			flex: 0 1 172px;

			.h6{
				color: #ffffff;
				text-align: center;
				text-transform: uppercase;
				font-size: rem(16);
				font-family: $font-sans;
				font-weight: 600;
				display: block;
				margin: 0 0 10px;
			}

			li{
				width: 44px;
				height: 44px;			
				border: 2px solid #ffffff;
				margin: 0 5px 10px;
			}

			a{
				display: block;
				padding: 10px;
				height: 100%;
				display: flex;
				justify-content: center;
			}
			
			.icon-twitter{
				width: 15px;
				height: 20px;
			}

			.icon-googleplus{
				width: 21px;
				height: 19px;
			}

			.icon-youtube{
				width: 15px;
				height: 17px;
			}

			.icon-pinterest{
				width: 21px;
				height: 21px;
			}

			.icon-linkedin{
				width: 21px;
				height: 20px;
			}
		}

		.footer-loan{
			text-align: center;
			padding-top: 26px;
		}
	}

	.footer-bottom{
		text-align: center;
		font-size: rem(12);

		.menu{
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: center;
			margin: 0 0 12px;
		}

		li{
			flex: 0 0 auto;
			margin: 0 4px;
			border-right: 1px solid $color-yellow;
			padding-right: 8px;

			&:last-child{
				border-right: none;
			}
		}

		li a{
			color: $color-yellow;
			font-size: rem(12);
			font-weight: 400;
		}

		.copyright-text{
			color: $color-light-green;
		}
	}
}