#insurance{
	background: $color-green;
	color: #ffffff;
	text-align: center;
	padding: 26px 0;

	.h3{
		display: block;
		color: $color-light-green;
		font-size: rem(18);
	}

	img{
		margin: 12px;
		vertical-align: middle;
	}

	.insurance{
		margin-bottom: 30px;
	}

	.insurance{
		@include media($tablet-landscape){
			padding-right: 22px;
			padding-top: 26px;
			padding-bottom: 26px;
			float: left;
			width: 50%;
		}
	}

	.accreditation{
		@include media($tablet-landscape){
			padding-left: 22px;
			padding-top: 26px;
			padding-bottom: 26px;
			float: left;
			width: 50%;
			border-left: 1px solid $color-light-green;
		}
	}
}