//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure
.site{
	@include media($phone-landscape){
		padding-top: 129px;
	}
}

.wrap {
	@include outer-container;

	padding: 0 2*$gutter;

	@include media($desktop) {
		padding: 0;
	}
}

.site-content {
	margin: rem(20) auto;

	@include media($desktop) {
		margin: rem(40) auto rem(60);
	}
}

.primary {
	@include fill-parent;

	@include media($tablet-landscape) {
		@include span-columns(8);
	}
}

.secondary {
	display: none;

	@include media($tablet-landscape) {
		@include span-columns(4);
	}
}
