//--------------------------------------------------------------
// Media Query Breakpoints
//--------------------------------------------------------------

/// Standard Media Query Breakpoints
/// @group wds

$large-desktop: rem(1680);
$desktop: rem(1366);
$tablet-landscape: rem(1025);
$tablet-portrait: rem(768);
$phone-landscape: rem(640);
$phone-portrait: rem(360);