//--------------------------------------------------------------
// Global Form Variables
//--------------------------------------------------------------

// Buttons
$color-button-background: $color-yellow;
$color-button-background-hover: darken( $color-yellow, 20);
$color-button-text: $color-white;

// Inputs
$color-input-border: $color-silver;
$color-input-focus-text: $color-cod-gray;
$color-input-text: $color-white;

$padding-input: rem(3) rem(5);