//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

$font-sans:  "Raleway", sans-serif;
$font-serif: "Libre Baskerville", serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;

$line-height-body: 1.625;
$line-height-pre: $line-height-body;
