.blog,
.archive{
	main{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		& > h2,
		& > p{
			flex: 1 1 100%;
		}

		.posts-nav-wrap{
			flex: 1 1 100%;
		}

		article.hentry{
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-star;
			align-items: flex-start;

			flex: 0 1 358px;
			margin: 0 0 50px;
			border: 4px solid $color-green;
			min-height: 480px;
			padding-bottom: 20px;

			@media (min-width: 467px) and (max-width: 825px){
				margin: 0 auto 50px;
			}

			@media (min-width: 1024px) and (max-width: 1366px){
				flex: 0 1 300px;
			}
		}

		article.hentry header.entry-header{
			order: 2;
			width: 100%;
			padding: 0 33px;
		}

		article.hentry .entry-image{
			order: 0;
			border-bottom: 16px solid $color-light-green;
			background-color: $color-light-green;
		}

		article.hentry footer.entry-footer{
			order: 1;
			width: 100%;
			padding: 20px 33px 0;
		}

		h1{
			line-height: 1;
			margin: 0;
		}

		h1 a{
			font-size: rem(28);
			font-weight: 400;
			color: $color-green;
			text-decoration: none;
		}

		.cat-links a{
			text-decoration: none;
			color: $color-green;
			font-weight: 600;
		}

		.pagination{
			text-align: center;
		}

		.posts-nav-wrap .svg-logo{
			width: 178px;
			height: 100px;
			display: block;
			margin: 0 auto;
		}

		.posts-nav-wrap .page-numbers{
			display: inline-block;
			width: 46px;
			height: 46px;
			line-height: 43px;
			text-align: center;
			color: #ffffff;
			text-decoration: none;
			font-size: rem(18);
			background-color: $color-green;
			margin: 0 6px;
		}

		.posts-nav-wrap .page-numbers.current{
			background-color: $color-light-green;
		}

		.posts-nav-wrap .page-numbers.dots{
			color: $color-gray;
			background-color: transparent;
			font-size: 30px;
			line-height: 1.2;
			width: 14px;
		}
	}
}