//INTERIOR PAGE BANNER
.page-banner{
	min-height: 250px;	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: $color-black;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	
	&:after{
		content: '';
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.3);
	}

	.h1{
		color: $color-white;
		font-size: rem(36);
		z-index: 1;
		margin: 0 20px;

		@include media($tablet-portrait){
			font-size: rem(48);
		}
	}
}


//HOME PAGE BANNER
.page-banner-home{
	min-height: 250px;	
	
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	background: $color-black;
	background-size: cover;
	background-position: 50% 50%;
	padding: 73px 20px;
	position: relative;
	z-index: 0;

	@include media($tablet-landscape) {
		height: 532px;
		padding: 0 20px;
	}

	img{
		width: 100%;
		height: auto;
		position: relative;
		z-index: 1;

		@media (min-width: 520px){
			max-width: 387px;
			max-height: 216px;
		}

		@include media($tablet-landscape) {
			display: none;
		}
	}

	.h4{
		flex: 2 2 100%;
		display: block;
		color: #ffffff;
		text-align: center;
		font-style: italic;
		font-weight: 100;
		margin: 30px 0;
		text-shadow: 0 0 3px $color-black;
		position: relative;
		z-index: 1;

		@include media($tablet-landscape) {
			display: none;
		}
	}

	.btn{
		margin-bottom: 25px;
		flex: 0 1 500px;
		position: relative;
		z-index: 1;
		color: $color-black;

		@include media($tablet-landscape) {
			flex: 0 1 280px;
			margin-right: 25px;
		}
		box-shadow: 0 5px 0 #c2c83e;
	}
	
	.btn[href*='the-experience']{
		background: $color-dark-green;
		color: $color-white;
		margin-right: 0;
		box-shadow: 0 5px 0 #003e2e;

		&:hover,
		&:active,
		&:focus{
			background: darken($color-dark-green, 5);
		}
	}

	svg.swoop-arrow-alt{
		position: absolute;
		left: -160px;
		width: 158px;
		height: 201px;
	}

	.bg-video-wrap{
		position: absolute;
		z-index: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 532px;
	}

}