/*----------[ EXIT-INTENT MODAL ]----------*/
/*---------- TAKEN FROM ORIGINAL BUILD (PRE-SASS) ----------*/
#ouibounce-modal-insurance{
	font-family: $font-sans;
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.underlay{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.5);
		cursor: pointer;
		-webkit-animation: fadein 0.5s;
		animation: fadein 0.5s;
	}

	.o-modal{
		width: 96%;
		max-width: 505px;
		height: 60%;
		background: $color-white url('assets/images/man-selfie-washed-out.jpg') 50% 100% no-repeat;
		z-index: 1;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-animation: popin 0.3s;
		animation: popin 0.3s;

		@media (min-width: 800px){		
			width: 761px;
			height: 795px;
		}
	}
	
	form{
		display: flex;
	 	flex-wrap: wrap;
	 	flex-direction: row;
	 	justify-content: space-between;
	 	align-items: center;
	 	align-content: center;
		padding: 10px 60px;
	}

	.preamble{
		background: $color-dark-green;
		text-align: center;
		width: 140%;
		color: $color-white;
		margin: -10px -60px 30px;

		.h2{
			color: $color-yellow;
			font-family: $font-sans;
			font-size: rem(24);
			text-transform: uppercase;
			margin: 20px 0 4px;
		}
	}

	.form-full{
		width: 100%;
	}

	.wpcf7-list-item{
		display: inline-block;
		margin-right: 20px;

		label{
			display: inline;
		}
		input{
			display: inline;
			width: 26px;
			height: 26px;
			vertical-align: middle;
		}
	}

	.form-country{
		width: 90px;
		flex: 0 0 auto;
	}

	.form-phone{
		flex: 0 0 auto;
		width: 150px;
	}

	.form-text{
		width: 110px;
		padding-top: 25px;
	}
	
	label{
		color: $color-dark-green;
	}

	input,
	select{
		border-color: $color-dark-green;
		color: $color-dark-green;
	}

	select{
		width: 100%;
	}

	.wpcf7-validation-errors{
		display: none;
		visibility: hidden
;	}

	input::-webkit-input-placeholder{ color: $color-dark-green; }
	input:-moz-placeholder { color: $color-dark-green; }
	input::-moz-placeholder{ color: $color-dark-green; }
	input:-ms-input-placeholde{ color: $color-dark-green; }
	textarea::-webkit-input-placeholder{ color: $color-dark-green; }
	textarea:-moz-placeholder { color: $color-dark-green; }
	textarea::-moz-placeholder{ color: $color-dark-green; }
	textarea:-ms-input-placeholde{ color: $color-dark-green; }
}


@keyframes popin {
	0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}
	85% {
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
