/*----------[ EXIT-INTENT MODAL ]----------*/
/*---------- TAKEN FROM ORIGINAL BUILD (PRE-SASS) ----------*/
#ouibounce-modal{
	font-family: $font-sans;
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

	#ouibounce-modal .underlay{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.5);
		cursor: pointer;
		-webkit-animation: fadein 0.5s;
		animation: fadein 0.5s;
	}

	#ouibounce-modal .o-modal{
		width: 96%;
		height: 50%;
		background: url('assets/images/man-holding-on.jpg') 50% 50% no-repeat;
		z-index: 1;
		position: absolute;
		margin: auto;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-animation: popin 0.3s;
		animation: popin 0.3s;
	}
	@media (min-width: 800px){
		#ouibounce-modal .o-modal{
			width: 761px;
			height: 678px;
		}
	}

	#ouibounce-modal .o-modal .right{
		width: 374px;
		height: 100%;
		float: right;
		overflow: hidden;
	}
		#ouibounce-modal .o-modal .right .intro{
			background: #0b573e;
			color: #ffffff;
			text-align: center;
			padding: 24px;
		}
			#ouibounce-modal .o-modal .right .intro .h1,
			#ouibounce-modal .o-modal .right .intro .h1 a{
				color: #dbe441;
				font-size: 24px;
				text-transform: uppercase;
			}
			#ouibounce-modal .o-modal .right .intro p{
				margin: 0;
				font-size: 16px;
				font-weight: 100;
			}
		#ouibounce-modal .o-modal .right .wpcf7{
			padding: 24px;
			background: rgba(255,255,255,.85);
			height: 100%;
		}
			#ouibounce-modal .o-modal .right .wpcf7 input,
			#ouibounce-modal .o-modal .right .wpcf7 textarea{
				background: none !important;
				font-size: 16px !important;
				padding: 7px 10px 7px !important;
				margin-bottom: 7px !important;
				color: #333 !important;
			}
			#ouibounce-modal .o-modal input::-webkit-input-placeholder{ color: #333 ; }
			#ouibounce-modal .o-modal input:-moz-placeholder { color: #333; }
			#ouibounce-modal .o-modal input::-moz-placeholder{ color: #333; }
			#ouibounce-modal .o-modal input:-ms-input-placeholde{ color: #333; }
			#ouibounce-modal .o-modal textarea::-webkit-input-placeholder{ color: #333 ; }
			#ouibounce-modal .o-modal textarea:-moz-placeholder { color: #333; }
			#ouibounce-modal .o-modal textarea::-moz-placeholder{ color: #333; }
			#ouibounce-modal .o-modal textarea:-ms-input-placeholde{ color: #333; }

			#ouibounce-modal .o-modal .right .wpcf7 textarea{
				height: 115px !important;
			}
			#ouibounce-modal .o-modal .right .wpcf7 input[type="submit"]{
				background: #99cc66 !important;
				color: #0b573e !important;
				border: none !important;
			}
			#ouibounce-modal .o-modal .right .wpcf7 .close{
				float: none;
				margin: 0;
				opacity: 1;
				text-shadow: none;
				font-size: 14px;
				color: #0b573e;
				text-decoration: underline;
				text-align: center;
			}
			#ouibounce-modal .o-modal .right .wpcf7 .wpcf7-not-valid-tip{
				display: none;
			}
			#ouibounce-modal .o-modal .right .wpcf7 .wpcf7-not-valid{
				border-color: red;
			}
			#ouibounce-modal .o-modal .right .wpcf7 .wpcf7-validation-errors{
				display: none !important;
			}
			#ouibounce-modal .o-modal .right .wpcf7 .wpcf7-mail-sent-ok{
				position: relative;
				margin: 0;
				text-align: center;
			}
			
@keyframes popin {
	0% {
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}
	85% {
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}
