//--------------------------------------------------------------
// Forms
//--------------------------------------------------------------

button,
input,
select,
textarea {
	font-size: 100%; // Corrects font size not being inherited in all browsers
	margin: 0; // Addresses margins set differently in IE6/7, F3/4, S5, Chrome
	vertical-align: baseline; // Improves appearance and consistency in all browsers
}

.btn{
	text-transform: uppercase;
	font-weight: 100;
}

.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none; // Remove iOS styles
	background-color: $color-button-background;
	border: none;
	vertical-align: top;
	display: block;
	width: 100%;
	color: $color-black;
	background: $color-yellow;
	font-size: rem(18);
	font-weight: 600;
	border-radius: 8px; 
	padding: 16px;
	box-shadow: 0 5px 0 $color-light-green;
	transition: background .2s ease-out;
	text-decoration: none;
	text-align: center;

	&:hover {
		background-color: $color-button-background-hover;
		color: $color-white;
		box-shadow: 0 5px 0 darken($color-light-green, 20);
	}

	&:active,
	&:focus {
		background-color: $color-button-background-hover;
		color: $color-white;
		box-shadow: 0 5px 0 darken($color-light-green, 20);
	}
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; // Addresses excess padding in IE8/9
}

// remove the clear x icon in IE
input[type="text"]::-ms-clear,
input[type="search"]::-ms-clear {
	display: none;
}

input[type="search"] {
	-webkit-appearance: textfield; // Addresses appearance set to searchfield in S5, Chrome
	box-sizing: content-box;

	&::-webkit-search-decoration { // Corrects inner padding displayed oddly in S5, Chrome on OSX
		-webkit-appearance: none;
	}
}

button::-moz-focus-inner,
input::-moz-focus-inner { // Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
	border: 0;
	padding: 0;
}

select{
	color: $color-white;
	border: 2px solid $color-input-border;
	border-radius: 0;
	line-height: 1.45;
	padding: 11px rem(5);
	background: none;
	height: 49px;
	-webkit-appearance: none;


	&:focus {
		color: $color-input-focus-text;
	}

	&::-webkit-input-placeholder{
		color: $color-white;
	}

	&:-moz-placeholder { /* Firefox 18- */
	   color:  $color-white; 
	}

	&::-moz-placeholder {  /* Firefox 19+ */
	   color:  $color-white;  
	}

	&:-ms-input-placeholder {  
	   color:  $color-white;  
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	-webkit-appearance: none; // Remove iOS styles
	color: $color-input-text;
	border: 2px solid $color-input-border;
	border-radius: 0;
	line-height: 1.45;
	padding: 11px rem(5);
	background: none;

	&:focus {
		color: $color-input-focus-text;
	}
}

textarea {
	@include size(100% auto);

	overflow: auto; // Removes default vertical scrollbar in IE6/7/8/9
	vertical-align: top; // Improves readability and alignment in all browsers
}

/**
 * CONTACT FORM 7
 */
 .wpcf7-form-control-wrap{
 	width: 100%;
 	display: block;

 	input{
 		width: 100%;
 		display: block;
 	}
 }

 form.wpcf7-form,
 #pettyCash{
 	display: flex;
 	flex-wrap: wrap;
 	flex-direction: row;
 	justify-content: space-between;
 	align-items: flex-start;
 	align-content: flex-start;
}
.form-half,
.form-full{
	margin-bottom: 10px;
}

.form-half{
	width: 100%;
	flex: 0 1 auto;

	@include media($phone-landscape){
		width: 47%;
	}
}

.form-submit{
	width: 100%;
	flex: 1 1 auto;
	margin-bottom: 0;
}

.form-consent{
	font-size: rem(14);
	line-height: 1.3;
}

label{
	font-size: rem(14);
	margin: 0 0 8px;
	display: block;
}



::-webkit-input-placeholder{
	color: $color-black;
}

:-moz-placeholder { /* Firefox 18- */
   color:  $color-black; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color:  $color-black;  
}

:-ms-input-placeholder {  
   color:  $color-black;  
}