//--------------------------------------------------------------
// Header
//--------------------------------------------------------------
header#masthead{
	background: $color-black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	padding: 0;

	@include media($tablet-landscape){
		background: $color-dark-green;			
	}
	
	.site-branding .wrap{
		position: relative;
		padding: 0;
		height: 52px;

		@include media($tablet-landscape){
			padding: 20px 1.25em;
			height: auto;
		}
	}	

	.site-title{
		width: 70px;
		height: 39px;
		display: block;
		position: absolute;
		left: 17px;
		top: 5px;

		@include media($tablet-landscape){
			width: 196px;
			height: 178px;
			top: 0;
			left: 20px;
		}

		.site-title-inner{
			position: relative;
			padding: 0;

			@include media($tablet-landscape){
				padding: 30px 22px;
			}
		}

		a{
			position: relative;
			z-index: 1;
			display: block;
			font-size: 0;
		}

		.logo{
			width: 70px;
			height: 39px;

			@include media($tablet-landscape){
				width: 151px;
				height: 85px;
			}
		}

		.ribbon{
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 196px;
			height: 178px;
			display: none;

			@include media($tablet-landscape){
				display: block;
			}
		}
	}

	.header-phone-links{
		float: right;
		position: relative;
		background: $color-yellow;
		width: 52px;
		height: 52px;
		border-radius: 6px;
		box-shadow: inset 0 -4px 0 #c2c83e;
		padding: 5px;



		@include media($tablet-landscape){			
			background: none;
			width: auto;
			height: auto;
			box-shadow: none;
			padding: 0;
		}

		.ae-logo{
			fill: #ffffff;
			width: 55px;
			height: 29px;
			vertical-align: 12px;
			margin-right: 12px;
			position: absolute;
			right: 40px;
			top: 11px;

			img{
				width: 38px;
				display: inline;
			}


			@include media($tablet-landscape){
				display: inline;
				right: auto;
				top: auto;
				position: relative;

				img{
					width: auto;
				}
			}
		}

		img{
			display: none;

			@include media($tablet-landscape){
				display: inline;
			}
		}
		
		.phone-wrap{
			float: right;
		}

		.phone-icon{			
			width: 26px;
			height: 36px;
			vertical-align: super;
			margin-left: 10px;
			margin-right: 6px;
			display: block;
			position: absolute;
			fill: $color-black;
			left: 6px;
			
			@include media($tablet-landscape){
				position: relative;
				display: inline;
				fill: $color-yellow;
				width: 32px;
				height: 33px;
				margin-left: 70px;
				vertical-align: 16px;
				left: 0;
			}
		}

		a.phone{
			text-decoration: none;
			color: $color-yellow;
			font-size: rem(29);
			font-family: $font-serif;
			font-weight: 800;
			vertical-align: 22px;
			display: block;
			text-indent: -999999px;
			position: absolute;
			top:0;
			right:0;
			z-index: 2;
			width: 52px;
			
			@include media($tablet-landscape){
				display: inline;
				text-indent: 0;
				position: relative;
				top:auto;
				right:auto;
				z-index: 0;
				width: auto;
			}
		}

		.conf-msg{
			display: none;

			@include media($tablet-landscape){
				display: block;
				color: $color-white;
				text-align: right;
				margin-top: -25px;
				margin-bottom: 28px;
				font-size: 15px;
			}
		}

		ul{
			list-style: none;
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0;
			display: none;

			@include media($tablet-landscape){
				display: block;
			}
		}

		li{
			display: inline;	
		}

		li a{
			text-decoration: none;
			color: #fff;
			font-size: rem(12);
			padding-right: 8px;
			border-right: 1px solid #fff;
		}

		li:last-child a{
			padding-right: 0;
			padding-left: 3px;
			border-right: none;
		}

	}
}

		@media(max-width: 1024px) {
			header#masthead .header-phone-links {
			background: none !important;
			box-shadow: none !important;
			width: 185px;
			padding-top: 10px;
		}

			header#masthead .phone-wrap {
				display: none;
		}

			header#masthead .header-phone-links .ae-logo {
				right: 165px;
		}
}

.headphone {
	color: #dbe245;
    font-family: Libre Baskerville,serif;
    font-size: 20px;
}

@media (min-width: 1025px) {
	.headphone {
		display: none;
	}
}