.tour{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	position: relative;

	a.btn{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -114px;
		margin-top: -40px;
		width: 228px;
		background: $color-dark-green;
		box-shadow: 0 5px 0 #003e2e; 
		color: $color-white;

		&:hover,
		&:active,
		&:focus{
			background: darken($color-dark-green, 5);
		}
	}

	.gallery-image{
		flex: 0 1 44%;
		height: auto;
		margin: 3px 3px 0;
		text-align: center;

		&.desktop{
			display: none;
		}

		@include media($tablet-portrait){
			flex: 0 1 19.2%;

			&.desktop{
				display: block;
			}
		}

		img{
			width: 100%;
			height: auto;
		}
	}
}