.hero-success-stories{
	background: $color-light-green;
	padding: 90px 0; 

	.wrap{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-content: flex-start;
	}
	
	.preamble{
		flex: 3 1 100%;
		margin: 0 0 30px;

		.inner-preamble{
			width: 100%;
			margin: 0 auto;

			@media (min-width: 665px){
				width: 548px;
			}
		}
	}

	.logo-separator{
		width: 100%;
		text-align: center;
		position: relative;

		&::after{
			content: '';
			width: 100%;
			display: block;
			border: 1px solid $color-black;
			position: absolute;
			left: 0;
			bottom: 34px;
			z-index: 0;
		}

		svg{
			width: 72px;
			height: 43px;
			margin: 0 auto;
			background: $color-light-green;
			position: relative;
			z-index: 1;
		}
	}

	.success-item{
		flex: 0 1 auto;
		width: 359px;
		margin: 0 auto 50px;
		border: 3px solid $color-dark-green;
		background: $color-white;
		padding: 24px 32px;

		p{
			line-height: 1.5;
			margin: 0;
		}
	}

	.success-item.quotes-testimonial{
		@media (max-width: 470px){
			width: 100%;
		}

		svg.quotes{
			fill: $color-dark-green;
			width: 52px;
			height: 43px;
			display: block;
			margin: 20px auto 50px;
		}
		.item{
			font-family: $font-serif;
			font-size: rem(28);
			font-style: italic;
			text-align: center;
			line-height: 1.4;
			color: $color-black;
		}
	}

	.success-item.video-testimonial{
		a.fancybox-video{
			position: relative;
			display: block;
		}
		a.fancybox-video::after{
			content: '';
			background: url( 'assets/images/play-icon.png' ) 50% 50% no-repeat;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
		}
	}

	.h2{
		text-align: center;
		font-size: rem(36);
	}

	.h3{
		color: $color-dark-green;
		font-size: rem(18);
		margin: 10px 0 6px; 
	}
	
	.owl-dots{
		text-align: center;
		margin: 60px 0 0;
	}

	.owl-dot{
	    display: inline-block;
    	zoom: 1;
    	cursor: pointer;
    	user-select: none;

    	span{
    		width: 22px;
    		height: 22px;
    		margin: 5px 7px;
    		display: block;
    		background: none;
    		border: 4px solid $color-black;
    		transition: opacity .2ss ease;
    		border-radius: 30px;
    	}

		&.active span{
			background: $color-black;
		}
	}

	.btn-wrap{
		flex: 100%;
	}

	a.btn{
		background: $color-dark-green;
		box-shadow: 0 5px 0 #003e2e;
		color: $color-white;
		margin: 0 auto;
		display: block;

		@include media($phone-portrait){
			width: 288px;
		}

		&:hover,
		&:active,
		&:focus{
			background: darken($color-dark-green, 5);
		}
	}

}