.intervention{
	background: $color-black;
	color: $color-light-green;
	font-family: $font-serif;
	font-size: rem(18);
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	padding: 50px 0; 
	
	svg{
		fill: $color-white;
		width: 195px;
		height: 103px;
	}

	.ae-call-out{
		text-align: center;
		flex: 100%;
		margin-bottom: 30px;
		padding: 0 30px;

		span{
			display: block;
		}

		@media (min-width: 578px){
			flex: 0 1 240px;
			margin-right: 36px;
			margin-bottom: 0;
			padding: 0;
		}
	} 
}