.hero-insurance{
	background: $color-dark-green;
	text-align: center;
	padding: 26px 0;

	.wrap{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: stretch;
		align-content: stretch;
	}
	
	.insurance-providers,
	.standards-practices{
		flex: 100%;
		padding: 26px 0;

		@media (min-width: $phone-landscape){
			flex: 1 1 50%;
			padding: 0;
		}
	}

	.insurance-providers{
		border-right: none;
		border-bottom: 1px solid $color-light-green;
		

		@media (min-width: $phone-landscape){
			border-right: 1px solid $color-light-green;
			border-bottom: none;
		}
	}

	.h4{
		display: block;
		color: $color-light-green;
		font-size: rem(18);
		margin: 0 0 20px;

		a{
			color: $color-light-green;

			&:hover,
			&:active,
			&:focus{
				color: $color-yellow;
			}
		}
	}

	img{
		vertical-align: middle;
		margin: 0 10px 20px;
	}

}