.hero-contact-form{
	background: url( 'assets/images/green-plaid.jpg' );
	padding: 50px 0 44px;
	
	.wrap{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}

	.cta-column{
		flex: 0 1 auto;
		width: 100%;		
		text-align: center;
		position: relative;

		@media (min-width: 751px){
			margin-right: 40px;
			width: 315px;
		}

		.h3{
			color: $color-white;
			text-align: center;
			font-size: rem(18);
			line-height: 1.6;
			margin: 30px 0 20px;
		}
	}

	.form-column{
		flex: 0 1 auto;
		width: 288px;
		color: $color-white;
	}

	svg.logo{
		fill: $color-white !important;
		max-width: 100%;
	}
	
	svg.phone-icon{
		fill: $color-yellow;
		width: 32px;
		height: 43px;
		vertical-align: -11px;
		margin-right: 4px;
	}

	svg.swoop-arrow{
		fill: none;
		position: absolute;
		left: -30px;
		top: 280px;
		display: none;

		@include media($tablet-landscape) {
			display: block;
		}
	}

	a.phone{
		color: $color-yellow;
		text-decoration: none;
		font-size: rem(28);
		font-family: $font-serif;
	}

	input[type="text"],
	input[type="email"],
	textarea{
		border: 2px solid $color-white;
		color: $color-white;
	}

	textarea{
		height: 80px;
	}

	.captcha{
		transform-origin: 0 50%;
		transform: scale(.95);		
	}

}