//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

// Social icons <ul>
.social-icons {
	margin: 0 auto;
	padding: 0;
	text-align: center;

	// After 1024px, let's float and text align left
	@include media($tablet-landscape) {
		float: left;
		text-align: left;
	}

	// Each icon <li>
	.social-icon {
		display: inline-block;
		margin-right: rem(12);
		vertical-align: top;

		// Loop through all social icons
		@each $social-color, $color in $social-colors {

			// Set styles on those social icons!
			.icon-#{$social-color} {
				@include size(rem(24) rem(24));

				fill: $color-white;

				&:hover {
					fill: $color;
				}
			}
		}

		// No margin for the last <li> item
		&:last-child {
			margin-right: 0;
		}
	}
}

.social-icons.fixed{
	z-index: 1;
	position: fixed;
	left: 0;
	top: 450px;
	border: 5px solid $color-white;
	box-shadow: 3px 3px 10px $color-black;
	display: none;

	@media(min-width: 1155px){
		display: block;
	}

	li.social-icon{
		display: block;
		width: 41px;
		height: 41px;
		border: 4px solid $color-white;
		margin: 0;
	}
	a{
		display: block;
		height: 100%;
		text-align: center;
		padding: 6px;
	}
	svg.icon{
		display: block;
		@include size(rem(20) rem(20));
	}
	a[href*='facebook']{
		background: $color-facebook;
	}
	a[href*='twitter']{
		background: $color-twitter;
	}
	a[href*='linkedin']{
		background: $color-linkedin;
	}
	a[href*='google']{
		background: $color-googleplus;
	}
	a[href*='youtube']{
		background: $color-youtube;
	}
	a[href*='pinterest']{
		background: $color-pinterest;
	}
}
