//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links
a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	}
}


// Main navigation container
.main-navigation {
	@include size(100% auto);

	clear: both;
	display: block;
	background: $color-dark-green;

	@include media($tablet-landscape) {
		background: $color-light-green;
	}

	.wrap{
		padding: 0;

		@include media($tablet-landscape) {
			padding: 0 1.25em;
		}
	}

	//WE ARE USING WR MEGA MENU PLUGIN TO GENERATE
	//THE DESKTOP NAVIGATION
	//ON MOBILE WE HIDE THE PLUGIN 
	//AND SHOW OUR OWN HAND-BUILT NAVIGATION
	.menu-main-menu-container{
		display: block;

		@include media($tablet-landscape) {
			display: none;
		}
	}

	.wr-megamenu-container{
		display: none;

		@include media($tablet-landscape) {
			display: block;
		}
	}
	
	.wr-megamenu-left-inner{
		right: auto !important;
	}

	.wr-megamenu-container ul.wr-mega-menu{
	  padding-left: 196px;
	}
	.menu-item-link .menu_title{
	  color: #3b3c3c;
	  font-size: 14px;
	}
	
	li.menu-item.level-0:last-child{
		background: $color-yellow;
		
		span{
			color: $color-black;	
		}
	}
	.wr-megamenu-container ul.wr-mega-menu li.wr-megamenu-item:hover a.menu-item-link {
	        background-color: #ffffff;
	        color: #005740 !important;
	    }
	.wr-megamenu-container ul.wr-mega-menu li.wr-megamenu-item:hover a.menu-item-link .menu-title{
	        color: #005740;
	    }
	.wr-mega-menu > li > a{
		padding: 9px 15px;
	}


	.it-responsive-mega{
		display: none;
	}

	// Menu area
	ul {
		display: none;

		@include media($tablet-landscape) {
			display: block;
		}
	}

	//FIRST LEVEL NAV
	.menu-main-menu-container > ul{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: stretch;
		align-content: stretch;
		
		a{
			color: $color-white;
			padding: 0 22px;
			text-align: center;
			font-weight: 100;
			padding: 7px;

			@include media($tablet-landscape) {
				color: $color-gray;
			}
			
		}
	}
	
	//Desktop NAV
	@media (min-width: $tablet-landscape){	
		.sub-menu{
			background: $color-white;
		}
	}


	//Mobile NAV
	@media (max-width: $tablet-landscape){	
		//TOP MOST LEVEL
		li.menu-item-depth-0{
			background: $color-darkest-green;
			flex: 25%;

			& > .sub-trigger{
				display: block;		
				background: $color-darkest-green;
				border-right: 1px solid $color-dark-green;	
				padding: 6px 0 0;

				.trigger-icon{
					display: none;
				}	
			}
			& > .sub-trigger::before {
				border-style: solid;
				border-width: 0.25rem 0.25rem 0 0;
				content: '';
				display: inline-block;
				height: 0.75rem;
				left: 0.15rem;
				position: relative;
				top: 0;
				transform: rotate(135deg);
				vertical-align: top;
				width: 0.75rem;
			}
		}

		li.menu-item-depth-0 > a{
			border-right: 1px solid $color-darkest-green;	
			background: $color-dark-green;	
			font-size: rem(10);
			min-height: 42px;
		}


		//generic sub-nav
		.sub-menu{
			padding-left: 20px;
			display: none;
		}
		.sub-menu li{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: flex-start;
		}

		.sub-menu li a{
			display: inline-block;
			padding: 14px;
			line-height: 1.2;
			font-size: 16px;
			text-align: left;
		}
		.menu-depth-1 .sub-trigger,
		.menu-depth-2 .sub-trigger{
			margin-left: 10px;
			padding: 18px 16px;
			
			.trigger-icon{
				display: block;
				color: transparent;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 9px 6.5px 0 6.5px;
				border-color: $color-white transparent transparent transparent;
				transform-origin: 50% 50%;
				transform: rotate(-90deg);
				transition: transform .2s ease-out;
			}
		}


		//first level deep
		ul.sub-menu.menu-depth-1{
			width: 100%;
			position: absolute;
			left: 0;
			top: 126px;
			background: $color-black;
		}

		//FX
		li.on > .sub-menu{
			display: block;
			flex: 100%;
		}

		li.on > .sub-trigger .trigger-icon{
			transform: rotate(0deg);
		}

	}

	//Hide arbitrary nav items on mobile
	li.desktop{
		display: none;

		@include media($tablet-landscape) {
			display: block;
		}
	}

	.sub-trigger{
		text-align: center;
		color: $color-white;	

		@include media($tablet-landscape) {
			display: none;
		}
	}
}






// Menu defaults
.menu {
	@include list-reset;
	display: flex;

	li {
	}

	ul {
		@include list-reset;
	}

	a{
		font-weight: 600;
		font-size: rem(15);
		display: block;
		line-height: 1.2;
	}

	&.menu-horizontal {

		li {
			display: inline-block;
		}
	}

	&.menu-vertical {

		li {
			margin: 0;
		}

		a {
			padding: rem(10);
			border-bottom: 1px solid $color-background-hr;
		}
	}

	&.dropdown {

		//DESKTOP DROP NAVS
		@include media($tablet-landscape){	
			// Sub-menu
			ul {
				box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
				float: left;
				left: -999em;
				position: absolute;
				top: em(24px);
				z-index: 99999;

				// Sub-sub menu
				ul {
					left: -999em;
					top: 0;
				}

				// Sub-menu items
				li {

					&:hover > ul,
					&.focus > ul {
						left: 100%;
					}
				}

				// Sub-menu links
				a {
					@include size(rem(200) auto);
				}

				:hover > a,
				.focus > a {
				}

				a:hover,
				a.focus {
				}
			}

			// Display sub-menu on hover
			li:hover > ul,
			li.focus > ul {
				left: auto;
			}

			// Menu items
			li {
				position: relative;

				&:hover > a,
				&.focus > a {
				}
			}
		}
	}

	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
	}

	// Current items
	.current_page_item a,
	.current-menu-item a {
	}
}

// Other navigation
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 rem(24) 0;
		overflow: hidden;
	}

	& .nav-previous {
		@include size(50% auto);

		float: left;
	}

	& .nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	}
}


// MEGA MENU
.wr-megamenu-inner .jsn-bootstrap3{
	.preview-text{
		text-align: center;
	}

	.block-sub-menu{
		a{
			border-bottom: 1px solid #bfc2c1;
		}
	}

	ul.submenu-items{
		padding: 0;
		
		a{
			color: $color-dark-green;
			padding: 10px 0;
		}
	}

	a{
		color: $color-dark-green;
		font-size: 18px;
		font-weight: 800;
		padding: 10px 0;

		.glyphicon{
			display: none;
		}
	}

}

#nav-menu-item-4977 {
	display: none;

	@include media($tablet-landscape) {
		display: block;
	}
}