//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

body,
button,
input,
select,
textarea {
	color: $color-text-main;
	font-family: $font-sans;
	line-height: $line-height-body;
}

// Headers

h1,
.h1 {
	font-family: $font-serif;
	font-size: rem(48);
}

h2,
.h2 {
	font-family: $font-serif;
	font-size: rem(36);
	line-height: 1.3;
}

h3,
.h3 {
	font-family: $font-serif;
	font-size: rem(30);
	line-height: 1.3;
}

h4,
.h4 {
	font-family: $font-serif;
	font-size: rem(24);
	line-height: 1.3;
}

h5,
.h5 {
	font-family: $font-serif;
	font-size: rem(20);
	line-height: 1.3;
}

h6,
.h6 {
	font-family: $font-serif;
	font-size: rem(16);
	line-height: 1.3;
}

// Copy

p {
	margin: 0 0 rem(24) 0;
}

b,
strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote,
q {
	margin: 0 rem(24);
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

address {
	margin: 0 0 rem(24) 0;
}

pre {
	font-family: $font-pre;
	font-size: rem(15);
	line-height: $line-height-pre;
	margin: 0 0 rem(24);
	max-width: 100%;
	overflow: auto;
	padding: rem(24);
}

code,
kbd,
tt,
var {
	font-family: $font-code;
	font-size: rem(15);
}

abbr,
acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
}

mark,
ins {
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
	@include word-break;
}
