$color1 : $blue;
$color2: $red;
$color3: $orange;

//BOURBON NEAT BREAKPOINT
//IF NOT USING BOURBON NEAT
//UPDATE THIS VARIABLE TO ANY BREAKPOINT YOU WISH
$large: $small-screen;

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
article{
	img {
		max-width:100%;
		height: auto;
		vertical-align:bottom;
		border: 5px solid $color1;
	}
	.alignnone {
		margin:5px 20px 20px 0;
	}
	.aligncenter,
	div.aligncenter {
		display:block;
		margin:5px auto 5px auto;
	}
	.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	a img.alignright {
		float:right;
		margin:5px 0 20px 20px;
	}
	a img.alignnone {
		margin:5px 20px 20px 0;
	}
	a img.alignleft {
		float:left;
		margin:5px 20px 20px 0;
	}
	a img.aligncenter {
		display:block;
		margin-left:auto;
		margin-right:auto;
	}
	.wp-caption {
		background:#FFF;
		border:1px solid $color1;
		max-width:96%;
		padding:5px 3px 10px;
		text-align:center;
	}
	.wp-caption.alignnone {
		margin:5px 20px 20px 0;
	}
	.wp-caption.alignleft {
		margin:5px 20px 20px 0;
	}
	.wp-caption.alignright {
		margin:5px 0 20px 20px;
	}
	.wp-caption img {
		border:0 none;
		height:auto;
		margin:0;
		max-width:98.5%;
		padding:0;
		width:auto;
	}
	.wp-caption .wp-caption-text,
	.gallery-caption {
		font-size:11px;
		line-height:17px;
		margin:0;
		padding:0 4px 5px;
	}
	ul,
	ol{
		list-style: initial;
		padding-left: 20px;

		li{
			font-weight: 300;
			margin-bottom: 8px;
		}
	}
	.sticky {

	}
	.bypostauthor {

	}
	/*
	 * 2-up gallery
	 */
	.gallery-columns-2{
		@include clearfix;
		.gallery-item{
			@include span-columns(6);
		}
		.gallery-item:nth-of-type(2n+0){
			@include omega;
		}
	}
	/*
	 * 3-up gallery
	 */
	.gallery-columns-3{
		@include clearfix;
		.gallery-item{
			@include span-columns(4);
		}
		.gallery-item:nth-of-type(3n+0){
			@include omega;
		}
	}
	/*
	 * 4-up gallery
	 */
	.gallery-columns-4{
		@include clearfix;
		.gallery-item{
			@include span-columns(3);
		}
		.gallery-item:nth-of-type(4n+0){
			@include omega;
		}
	}

	.commentlist{
		margin-top: 40px;
	}
}
.page,
.single{
	.wp-post-image{
		float: left;
		margin: 8px 20px 0 0;
	}
}

#respond{
	margin-top: 40px;
}
#commentform{
	input[type='text'],
	input[type='email'],
	input[type='url'],
	textarea{
		background: rgba($color1, .5);
		border: none;
	}
}









/*===========================================================================*\
	Evaero Shortcodes
\*===========================================================================*/
.double {
	padding: 0 15px;

	& ul {
		width: 100%;
		clear: both;
		@include clearfix;

		& li {
			width: 100%;
			list-style-type: disc;

			&:last-child {
				margin-bottom: 20px;
			}

			@include media($large) {
				float: left;
				width: 500%;
			}
		}
	}


}
.panel{
	clear: both;
	background:lighten($color1, 50%);
	margin: 10px 0 20px;

	.panel-heading{
		background: $color1;
		margin-bottom: 8px;
		padding: 10px;
	}
	.panel-body{
		padding: 10px;
	}
}
.cta{
	font-size:1.5rem;
	padding: 0 20px;
	text-align: center;
	display: block;
	margin: 20px 0;
	color: $color1;
}
.cta.giant{
	font-size: 2rem;
}
.cta.large{
	font-size: 1.75rem;
}
.cta.small{
	font-size: 1.25rem;
}
.cta.mini{
	font-size: 1.15rem;
}
.call-now, 
.cta-bottom{
	color:$color1;
	margin: 20px 0;
	text-align: center;
	@include font-size(24px);
	font-weight: 800;
	clear:both;

	p{
		margin: 10px 0 0;
		font-weight: 800;
	}
	h3{
		font-size: 1.75rem;
	}
	a{
		@include font-size(36px);
		color: $color2;
		font-weight: 800;
	}
	.svg-icon{
		width: 339px;
		height: 50px;
		max-width: 100%;
		display: block;
		margin: 0 auto;
	}

}
.page-bottom-cta{
	text-align: center;
	.cta{
		margin-bottom:0;
	}

	.call-sc,
	.call-sc a{
		font-size: 1.5rem;
		color: $color2;
	}
}
blockquote{
	border-left: 3px solid $color3;
	font-weight: 400;
	margin: 20px 0;
	padding-left: 20px;
}

.pullquote{
	width: 40%;
	color: $color3;
	float: right;
	margin: 0 0 24px 24px;

	p{
		font-size: rem(40);
		line-height: 120%;
		position: relative;

		&:before, 
		&:after{
			color: $color3;
			font-size: 3.4rem;
			font-family: serif;
			font-weight: bold;
			width: 32px;
			height: 42px;

		}
		&:before{
			content: '\201c';
		}
		&:after{
			content: '\201d';

		}
	}
}
.pullquote.left{
	float: left;
	margin-right: 24px;
}

@include media($large) {
	.pullquote,
	.pullquote.left{
		float: none;
		display: block;
		margin: 20px 0;
		width: 100%;
	}
}
