//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

// Structure

.wrap {
	@include outer-container;

	padding: 0 2 * $gutter;

	@include media($desktop) {
		padding: 0;
	}
}

.site-header,
.site-footer {

	@include media($tablet-landscape) {
		padding: 0 2 * $gutter;
	}
}

.site-content {
	margin-top: 151px;
	padding-bottom: 90px;

	& > .wrap{
		padding-top: 50px;
	}
}

.primary {
	@include fill-parent;


	@include media($tablet-landscape) {
		@include span-columns(8);
	}
}

.secondary {
	display: none;

	@include media($tablet-landscape) {
		@include span-columns(4);
	}
}

.page-template-page-full .primary{
	@include fill-parent;
}