aside.secondary{

	.widget.widget_custom_cf7{
		background: $color-light-green url( 'assets/images/form-background.jpg' ) 0 0 no-repeat;
		background-size: 100% 234px;
		padding-top: 100px;
		position: relative;

		h3.widget-title{
			color: $color-yellow;
			text-align: center;
			text-transform: uppercase;
			font-family: $font-sans;
			font-size: rem(28);
			font-weight: 400;
			margin: 0;
		}

		.wpcf7-form{
			padding: 0 33px;
		}

		.logo-icon{			
			position: absolute;
			top: 25px;
			left: 50%;
			margin-left: -54px;

			svg{
				fill: $color-white;
				width: 108px;
				height: 60px;
			}
		}

		.preamble{
			color: $color-white;
			text-align: center;
			font-size: rem(18);
			line-height: 1.2;

			span{
				display: block;
				text-align: center;
				margin: 0 0 10px;
			}
			
			svg.phone-icon{
				display: inline-block;
				fill: $color-yellow;
				width: 20px;
				height: 27px;
				margin-right: 6px;
				vertical-align: -7px;
			}

			a.phone{
				color: $color-yellow;
				text-decoration: none;
				font-family: $font-serif; 
				display: inline-block;
				font-size: rem(18);
			}
		}
	
		label{
			color: $color-dark-green;
		}

		input[type="email"],
		input[type="tel"],
		input[type="text"],
		select,
		textarea{
			border-color: $color-dark-green;
			color: $color-dark-green;
		}
		
		.captcha{
			transform-origin: 0 50%;
			transform: scale(.75);

			@media (min-width: 1195px){
				transform: scale(.85);
			}
			
			@include media($desktop){
				transform: scale(.97);
			}
		}

		input[type="submit"]{
			box-shadow: 0 5px 0 #c2c83e;
		}

	}
	
	.widget{
		margin-bottom: 50px;
	}

	.widget.widget_categories,
	.widget.recent-posts-widget-with-thumbnails,
	.widget.widget_widget_tptn_pop{
		h3{
			text-align: center;
			color: $color-dark-green;
			font-size: rem(18);
			font-weight: 100;
			border-bottom: 1px solid #bfc2c1;
			padding-bottom: 12px;
		}
	}
	
	.widget.recent-posts-widget-with-thumbnails,
	.widget.widget_widget_tptn_pop{
		img{
			width: 70px;
			height: 70px;
			display: inline;
			margin: .3em .75em .75em 0;
		}
		.rpwwt-post-title,
		.tptn_after_thumb{
			margin-top: 25px;
			display: block;
		}
	}

	.widget.widget_widget_tptn_pop{
		li{
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
			justify-content: flex-start;
			align-content: flex-start;
		}		
		
		.tptn_link{
			width: 70px;
			flex: 0 0 auto;
			margin-right: .75em;
		}
		
	}

	ul{
		padding: 0;
		margin: 0;
		list-style: none;

		a{
			text-decoration: none;
			color: $color-black;
		}
	}

}