.single-post{
	.entry-meta{
		background: $color-baby-blue;
		padding: 15px 25px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		.cta-links{
			flex: 0 0 auto;
		}

		.share-wrap{
			flex: 0 0 auto;

			&> span{
				display: block;
				margin-top: 7px;
				margin-right: 7px;
			}

			

			@media (min-width: 370px){
				.ssba,
				&> span{
					float: left;
				}
			}
		}

		

		a{
			text-decoration: none;
			font-weight: 800;
		}
	}
}

.comments-area{
	form{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		p.comment-notes{
			flex: 100%;
		}
		p.comment-form-author{
			flex: 50%;
			padding-right: 14px;
		}
		p.comment-form-email{
			flex: 50%;
			padding-left: 14px;
		}
		p.comment-form-comment{
			flex: 100%;
		}
		p.form-submit{
			flex: 100%;

			input{				
				background: $color-dark-green;
				color: $color-white;
				box-shadow: 0 5px 0 #003e2e;

				@include media($phone-landscape){
					width: 50%;
					float: right;
				}
			}
		}
		input[type="text"],
		input[type="email"],
		textarea{
			width: 100%;
			border-color: $color-black;
		}
	}
}