.blog,
.archive{
	
	main#main{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		padding: 0 0 60px;
	}

	main#main article{
		flex: 0 1 auto;
		width: 358px;
		border: 4px solid $color-dark-green;
		margin: 0 auto 50px;
		padding-bottom: 80px;

		.entry-meta,
		h2.entry-title{
			padding: 0 30px;
		}

		h2.entry-title{
			font-size: rem(28);
			font-weight: 100;
			margin: 12px 0;

			a{
				color: $color-dark-green;
			}
		}

		.entry-meta a{
			font-weight: 800;
			text-decoration: none;
		}

		.entry-thumb{
			height: 238px;
			width: 100%;
			overflow: hidden;
			border-bottom: 22px solid $color-light-green;
			margin-bottom: 22px;
			background: lighten($color-dark-green, 5) url( 'assets/images/aia-logo-alt.svg' ) 50% 50% no-repeat;
			background-size: 65% auto;
		}
	}

	.pagination-logo{
		flex: 100%;
		text-align: center;

		svg{
			width: 175px;
			height: 77px;
		}
	}

	.pagination{
		flex: 100%;

		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			text-align: center;
		}

		li{
			height: 46px;
			display: inline-block;
			margin: 0 7px;
		}

		a.page-numbers,
		span.page-numbers{
			display: block;
			background: $color-dark-green;
			color: $color-white;
			text-align: center;
			padding: 10px 19px;
			text-decoration: none;
		}

		span.current{
			background: $color-light-green;
		}

		span.dots{
			background: none;
			color: $color-black;
			margin: 0;
			padding: 10px 0;
			font-size: 2rem;
		}
	}
}