.page-id-41{
	.site-content{
		background: $color-black;
		color: $color-white;

		& > .wrap{
			padding-top: 98px;
		}
	}
	.primary{
		@include fill-parent();

		@include media($tablet-portrait){
			@include span-columns(8);
			@include shift(2);
		}		
	}
	main.site-main{
		padding: 0 0 70px;
	}

	article.page{
		text-align: center;
		color: $color-white;
		margin: 0;
		background: url( 'assets/images/contact-form-bg.jpg' ) 50% 50% no-repeat;
		background-size: cover;
		padding: 10px 20px;

		.entry-content{
			margin: 0;
		}

		h1{
			color: $color-yellow;
		}

		p{
			margin: 0;
		}		
	}
	
	.flex-grid-double{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		.flex-grid-item{
			margin-bottom: 0;
			flex: 100%;

			@include media($tablet-portrait){
				flex: 0 1 340px;
			}
		}
		h3{
			text-align: center;
			font-size: rem(18);
			font-weight: 100;
		}

		ul{
			list-style-image: url('assets/images/checkmark.png');
			margin: 0;
		}

		li{
			margin: 0 0 20px;
		}		
	}

	.grid-item{
		flex: 1 1 100%;		
		margin: 0 0 30px;	
		background: $color-white;

		@media (min-width: 996px){
			flex: 1 1 260px;	
			margin: 0;

			&:first-child{
				margin-right: 60px;
			}			
		}

		h3{
			background: $color-light-green;
			text-align: center;
			padding: 20px 10px;
			margin: 0;
		}

		div{
			padding: 20px 14px;
			color: $color-black;
		}
	}


	.wpcf7{
		background: $color-light-green;
		color: $color-dark-green;
		padding: 40px 20px 30px;
		margin: 0 0 40px;

		@include media($phone-landscape){
			padding: 70px 70px 20px;
		}

		input,
		select,
		textarea{
			border-color: $color-dark-green;
		}
		
		.form-column-left{
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: flex-start;

			@include media($tablet-portrait){
				width: 47%;
				float: left;
			}
		}
		.form-column-right{
			width: 100%;

			@include media($tablet-portrait){
				width: 47%;
				float: right;
			}
		}
		
		.form-name,
		.form-email{
			width: 100%;
			flex: 3 3 auto;
			margin: 0 0 7px;
		}

		.form-country{
			width: 101px;
			flex: 1 1 auto;
			margin: 0 0 7px;
		}

		.form-phone{
			width: 152px;
			flex: 1 1 auto;
			margin: 0 0 7px;
		}

		.form-msg{
			margin: 0 0 30px;
			
			textarea{
				height: 131px;
			}
		}
		input[type="submit"]{
			box-shadow: 0 5px 0 #c2c83e;
		}

		.captcha{
			transform-origin: 0 50%;
			transform: scale(.65);	

			@media (min-width: 390px){
				transform: scale(.8);	
			}
			@media (min-width: 450px){
				transform: scale(1);	
			}
			@media (min-width: 768px){
				transform: scale(.6);	
			}	
			@media (min-width: 1085px){
				transform: scale(.8);	
			}	
			@include media($desktop){
				transform: scale(.94);
			}
		}

	}

	.contact-map{
		height: 399px;
		background: url(assets/images/map-background.jpg);
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.logo-wrap{
			width: 198px;
			height: 198px;
			text-align: center;
			background: rgba(255,255,255,.8);
			border-radius: 100px;
			padding: 50px 0 0;
			box-shadow: 4px 4px 8px $color-black;
		}

		svg{
			width: 151px;
			height: 85px;
		}
	}

	h4{
		color: $color-light-green;
		text-align: center;
	}
}