.page-id-3477{
	.entry-content > h3{
		font-size: 36px;
	}

	.page-share-wrap{
		display: none;
	}

	main article{
		margin-bottom: 97px;
	}
	
	.content-nav{
		background: $color-baby-blue;
		padding: 14px 20px;

		a{
			text-decoration: none;
			font-weight: 800;

			@media (max-width: 698px){
				display: block;
			}
		}

		span{
			@media (max-width: 698px){
				display: none;
			}
		}
	}

	#pettyCash{
		h3{
			flex: 100%;
		}
		.submit-wrap{
			width: 100%;

			input{
				width: 100%;
				float: right;
				background: $color-dark-green;
				color: $color-white;
				box-shadow: 0 5px 0 #003e2e;
				margin-bottom: 80px;

				@include media($phone-landscape){
					width: 47%;
					margin-bottom: 0;
				}
			}
			label{
				color: red;
			}
		}
		label span{
			color: red;
		}
		input{
			border-color: #404041;
			width: 100%;
			color: $color-black;
		}
	}

	.grid-item{
		flex: 1 1 100%;		
		margin: 0 0 30px;	
		background: $color-black;

		@media (min-width: 809px){
			flex: 1 1 260px;	
			margin: 0;

			&:first-child{
				margin-right: 60px;
			}			
		}

		h3{
			background: $color-light-green;
			text-align: center;
			padding: 20px 10px;
			margin: 0;
		}

		div{
			padding: 20px 14px;
			color: $color-white;
		}
	}
}