.page-template-page-treatment-funnel{	
	#content{
		padding: 0 0 99px;
	}

	.tabs-navigation {
		margin: 0 0 50px;

		ul{
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: space-between;
			align-items: stretch;
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;

			//the green arrow on the right of the buttons
			@include media($phone-landscape){
				&:after{
					content: '';
					z-index: 1;
					position: absolute;
					right: -20px;
					top: 0;
					height: 0;
					width: 0;
					border-style: solid;
					border-width: 53.5px 0 53.5px 20px;
					border-color: transparent transparent transparent $color-dark-green;
				}
			}
		}

		li{
			flex: 100%;
			position: relative;
			z-index: 0;
			padding: 30px 8px 10px 30px;			
			min-height: 106px;	
			background: $color-dark-green;
			border-bottom: 1px solid $color-white;
			
			//don't show vector arrow on first item
			&.current_page_ancestor{
				background: $color-dark-green;
			}

			@include media($phone-landscape){
				flex: 1;
				background: $color-dark-green url( 'assets/images/svg/nav-arrow-01.svg' ) 0 0 no-repeat; 		
				background-size: auto 102%;		
				border-bottom: none;	
			}
			
			@media (min-width: 1185px){
				padding: 30px 28px 10px 60px;
			}
		}

		a{			
			display: block;			
			color: $color-white;
			text-decoration: none;
			text-align: center;
			line-height: 1.3;
			font-size: rem(14);

			@media (min-width: 1185px){
				font-size: rem(16);
			}
		}
		//highlight the current item
		li.current_page_item{
			background: $color-light-green;
			font-weight: 800;

			a{
				color: $color-black;
			}
		}
		//if the first item is the current page
		//hide the left dark green arrow
		li.current_page_item:first-child a:before{
			display: none;
		}
		//hide the vector background because it doesnt align perfect
		//with the css triangle
		li.current_page_item + li{
			background: $color-dark-green;
		}

		@include media($phone-landscape){
			//the light green arrow to the right of the current button
			li.current_page_item + li a:before{
				content: '';
				z-index: 1;
				position: absolute;
				left: 0;
				top: 0;
				height: 0;
				width: 0;
				border-style: solid;
				border-width: 53.5px 0 53.5px 20px;
				border-color: transparent transparent transparent $color-light-green;
			}
			//the dark green arrow to the left of the current button
			li.current_page_item a:before{
				content: '';
				z-index: 1;
				position: absolute;
				left: 0;
				top: 0;
				height: 0;
				width: 0;
				border-style: solid;
				border-width: 53.5px 0 53.5px 20px;
				border-color: transparent transparent transparent $color-dark-green;
			}
			//don't show the dark green arrow to the left of the 1st button
			&.last-page ul:after{
				border-color: transparent transparent transparent $color-light-green;
			}
		}
	}


	.next-topic{
		background: #e5eeec;
		padding: 22px 30px 40px;
	}

	h3{
		color: $color-dark-green;
		margin: 14px 0;
	}

	.btn{
		background: $color-dark-green;
		box-shadow: 0 5px 0 #003e2e;
		color: $color-white;
		font-size: rem(16);
		font-weight: 100;
		text-transform: capitalize;
		display: inline;
		padding: 16px 30px;
	}
}