//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------
.home {
	.site-content{
		padding-bottom: 0;
	}
	.site-content .wrap{	
		@include outer-container(742px);
	}

	.primary{
		@include fill-parent;
	}


	.home-form{
		background: url(assets/images/green-plaid.jpg);
		color: $color-white;
		padding: 30px 0;

		::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: $color-white;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  color: $color-white;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  color: $color-white;
		}
		:-moz-placeholder { /* Firefox 18- */
		  color: $color-white;
		}

		input,
		textarea{
			color: $color-white;
		}

		.preamble{
			flex: 100%;
			margin: 0 0 16px;
			font-size: rem(27);
			font-family: $font-serif;
		}
		.form-name{
			flex: 1 1 auto;
			
			margin-right: 20px;
			margin: 0 0 16px;

			@media (min-width: 550px){
				flex: 0 1 auto;
				width: 48%;
				margin-right: 0;
			}
			
		}
		.form-country{
			flex: 0 1 auto;
			width: 148px;
			margin: 0 0 16px;

			select{
				width:100%;
			}
		}
		.form-phone{
			flex: 0 1 100%;
			margin: 0 0 16px;

			@media (min-width: 550px){
				flex: 0 1 auto;
				width: 24%;
			}
			
		}
		.form-email{
			flex: 0 1 100%;
			margin: 0 0 16px;

			@media (min-width: 550px){
				flex: 0 1 auto;
				width: 48%;
			}
			
		}
		.form-msg{
			flex: 0 1 auto;
			width: 453px;
			height: 94px;
			margin: 0 0 16px;

			textarea{
				height: 65px;
			}
		}
		.form-captcha{
			flex: 0 1 auto;
			width: 100%;
			margin: 0 0 16px;

			.wpcf7-form-control-wrap{
				transform-origin: 0 50%;
				transform: scale(.85);
			}

			@media (min-width: 550px){
				width: 262px;
				margin: 0 0 16px;

				
			}
			@include media($desktop){
				margin: 29px 0 16px;
			}
		}			
		.form-submit{
			flex: 0 1 auto;
			width: 100%;
			margin: 0 0 16px;

			@media (min-width: 550px){
				width: 262px;
				margin: 0 0 16px;
			}

			input{
				color: $color-black;
			}
			
		}
		.form-consent{
			flex: 100%;
		}
	}


	.funnels{
		background: $color-black;
		color: $color-white;
		padding: 92px 0;

		.wrap{
			@include outer-container(792px);
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			justify-content: center;
			align-items: stretch;
		}
		.h1{
			text-align: center;
			flex: 2 2 100%;
			margin: 0 0 40px;
		}
		.funnel{
			flex: 1 1 150px;
			width: 384px;

			display: flex;
			flex-wrap: wrap;
			flex-direction: column;

			@include media($tablet-portrait){
				border: 15px solid rgba($color-light-green, .4);
			}
		}

		.funnel-loved-ones{
				margin-right: auto;
				@media (min-width: 408px){
					margin-bottom: 24px;	
				}	
				@media (min-width: 432px){
					margin-right: 24px;	
					margin-bottom: 0;
				}			
		}
		img{
			width: 100%;
			height: auto;
			order: 1;

			@include media($tablet-portrait){
				order: 0;
			}
		}
		.h3{
			text-align: center;
			text-decoration: none;
			background: $color-dark-green;
			color: $color-white;
			padding: 8px 0;
			font-family: $font-sans;
			font-size: rem(16);
			font-weight: 800;
			order: 0;

			@include media($tablet-portrait){
				order: 1;
				font-size: rem(28);
				padding: 23px 0;
			}
		}

		ul.menu{
			//flex defined in _navigation.scss
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			align-content: stretch;
			order: 2;
			min-height: 220px;

			@include media($tablet-portrait){
				order: 2;
				background: $color-light-green;
			}
		}
		li{
			flex: 100%;
			width: 100%;			
			margin-top: 5px;
			margin-bottom: 5px;

			@include media($tablet-portrait){
				border-bottom: 2px solid $color-white;
				margin-bottom: 0;
				min-height: 72px;
				margin-top: 0;
			}

			&:last-child{
				border-bottom: none;
			}
		}
		li.desktop{
			display: none;

			@include media($tablet-portrait){
				display: block;
			}

			a{
				color: $color-black;
				font-weight: 800;
				padding: 12px 24px;
				display: block;
				line-height: 1.6;
				background: $color-light-green;
				min-height: 72px;
			}
		}
		li.mobile{
			@include media($tablet-portrait){
				display: none;
			}

			&:last-child{
				a{
					color: $color-black;
					background: $color-yellow;
					box-shadow: 0 5px 0 #c2c83e;
				}
			}

			a{
				display: block;
				width: 100%;
				color: $color-black;
				background: $color-light-green;
				font-size: rem(18);
				font-weight: 600;
				border-radius: 8px; 
				padding: 16px;
				box-shadow: 0 5px 0 #89ae4f;
				transition: background .2s ease-out;
				text-decoration: none;
				text-align: center;
			}
		}		
	}


	main.site-main{
		padding-bottom: 100px;

		h1{
			text-align: center;
		}
		iframe{
			@include media($tablet-portrait){
				float: right;
				width: 386px;
				height: 246px;
			}
		}
	}

	.hero-insurance .wrap{
		@include outer-container;
	}
	

	.home-cta{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
		align-content: center;

		.h4{
			flex: 100%;
			text-align: center;
			margin: 0 0 14px;
		}

		.call-msg{
			font-size: rem(20);
			font-family: $font-serif;
			border: 3px solid $color-yellow;
			padding: 10px;

			@media (min-width: 541px){
				font-size: rem(28);
			}
		}
		.phone-box{
			background: $color-yellow;
			padding: 14px 10px 10px;
			line-height: 1;

			@media (min-width: 541px){
				padding: 14px 40px 10px;
			}

			span{
				display: block;
			}
		}

		a{
			font-family: $font-serif;
			font-size: rem(20);
			font-weight: 800;
			text-decoration: none;
			color: $color-black;

			@media (min-width: 541px){
				font-size: rem(28);
			}
		}
	}


	.hero-success-stories .wrap{
		@include outer-container;
	}


	.wp-caption{
		figcaption{
			background: $color-yellow;
			margin: 0;
			color: $color-black;
			font-family: $font-serif;
			font-weight: 800;
			text-transform: uppercase;
			padding: 15px;
		}
		a{
			display: none;	
			text-decoration: none;
			color: $color-black;
			font-size: 1.5rem;
		}
		a:last-child{
			display: inline;
		}
	}


	.primary .logo-separator{
		width: 100%;
		text-align: center;
		position: relative;

		&::after{
			content: '';
			width: 100%;
			display: block;
			border: 1px solid $color-black;
			position: absolute;
			left: 0;
			bottom: 34px;
			z-index: 0;
		}

		svg{
			width: 72px;
			height: 43px;
			margin: 0 auto;
			background: $color-white;
			position: relative;
			z-index: 1;
		}
	}

	h2{
		text-align: center;
	}
}











