.page-template-page-treatment-process{	
	nav.tabs-navigation{
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			height: 100px;
			margin: 0 0 49px;
			display: none; //hide it on page load, show it once its ready

			&.owl-loaded{
				display: block;
			}
		}
		li{
			width: 100%;
			background: #626363;
			height: 100px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 0 40px;
			border-left: 1px solid $color-black;
		}
		li a{
			text-decoration: none;
			color: $color-white;
			flex: 1;
		}
		li img{
			width: 63px;
			height: 56px;
			margin-right: 25px;
			flex: 0 0 auto;
		}
		li.current_page_item{
			background: $color-light-green;
			border-left: none;

			a{
				color: $color-black;
			}
		}
		.owl-nav div{
			position: absolute;			
			top: 0;
			width: 70px;
			height: 100%;
			color: $color-white;
			text-align: center;
			color: transparent;
		}
		.owl-prev{
			left: 0;
			background: $color-black url( 'assets/images/arrow-left.png' ) 50% 50% no-repeat;
		}
		.owl-next{
			right: 0;
			background: $color-black url( 'assets/images/arrow-right.png' ) 50% 50% no-repeat;
		}
	}
}