.post-type-archive-staff,
.tax-staff_cat{
	
	main.site-main{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.staff-nav{
		flex: 100%;
		position: relative;
	    z-index: 0;
	    background: none;
	    height: auto;
	    border-bottom: 1px solid $color-black;
	    padding: 0 0 18px;
	    margin: 0 0 40px;

	    ul{
	    	list-style: none;
	    	margin: 0;
	    	padding: 0;
	    	display: flex;
	    	flex-wrap: wrap;
	    	flex-direction: row;
	    	justify-content: flex-start;
	    	align-items: stretch;
	    }
	    li{
	    	display: inline;
		    color: $color-dark-green;
		    margin-right: 20px;
		    border-right: 1px solid $color-dark-green;
		    flex: auto;
		    text-align: center;
	    }
	    li:last-child{
	    	margin-right: 0;
	    	border-right: 0;
	    }
	    a{
	    	color: $color-dark-green;
	    	text-decoration: none;
	    }
	}

	.staff-member{
		position: relative;
		width: 237px;
		height: 284px;
		flex: 0 1 auto;
		margin: 0 0 30px;

		@media(min-width: 583px){
			margin-right: 14px;
		}

		@media(min-width: 1366px){
			&:nth-of-type(3n){
				margin-right: 0;
			}
		}
	}
	
	.staff-member.has-bio{
		cursor:pointer;
	}

	.staff-info{
		text-align: center;
	    background: rgba(0,0,0,.8);
	    color: $color-white;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    height: 92px;
	    padding: 4px 0 0;
	}

	.staff-name{
		font-family: $font-serif;
		font-size: rem(20);
		line-height: 1.5;
		display: block;
	}
	.staff-credentials{
		font-family: $font-serif;
		font-size: rem(15);
		line-height: 1.3;
		display: block;
	}
	.staff-title{
		text-transform: uppercase;
		font-size: rem(13);
		line-height: 1.3;
		display: block;
	}
	.hover{
		position: absolute;
		left: 0;
		top: 0;
	    opacity: 0;
	    background: rgba(0,0,0,.4);
	    color: #FFF;
	    line-height: 174px;
	    text-align: center;
	    width: 100%;
	    height: 100%;
	    transition: opacity .2s ease-out;	  	
	}

	.staff-member.has-bio:hover{
		.hover{
	  		opacity: 1;
	  	}
	}

	.fancybox-inner .thumb-wrap{
		float: left;
		width: 250px;
		max-width: 250px;
		height: 214px;
		padding: 0 10px;
	}
	.fancybox-inner .content{
		float: right;
		width: 520px;
		max-width: 520px;
		padding: 10px;
	}
	.fancybox-inner .content p:first-child{
		text-align: center;
	}

}