.post-type-archive-stories{
	
	main#main article.stories{
		width: 100%;
		border: none;
		padding: 0 0 20px 100px;
		background-image: url(assets/images/quotes-green.png);
		background-repeat: no-repeat;
		background-position: 10px 0;
	}

	main#main article.stories_cat-written:nth-child(even){
		padding: 20px 20px 20px 100px;
		background-color: rgba($color-light-green, .8);
		background-position: 10px 10px;
	}
}