@import "homepage";
@import "blog-home";
@import "funnel-template";
@import "process-template";
@import "contact";
@import "staff";
@import "blog-single";
@import "current-clients";
@import "success-stories";


figure.post-thumb-wrapper{
	margin: 22px 0;
	text-align: center;

	@include media($tablet-portrait){
		float: left;
		margin: 0 22px 22px 0;
	}

	figcaption{
		background: $color-yellow;
		color: $color-black;		
		font-family: $font-serif;
		text-transform: uppercase;
		font-weight: 800;
		font-size: rem(18);
		padding: 8px 0;
	}

	a{
		color: $color-black;
		font-size: rem(18);
	}
}

.page-share-wrap{
	width: 100%;
	margin: 0 0 30px;

	.page-share-wrap-inner{
		background: $color-baby-blue;
		display: flex;
		flex-wrap: no-wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px 20px;

		@include media($tablet-portrait){
			margin-left: 450px;
		}
	}
	
	&.full-width{
		background: $color-baby-blue;
	}

	&.full-width .page-share-wrap-inner {
		background: none;
	}	
}

.page-id-4505{
	.flex-grid-double .flex-grid-item{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;

		p,
		h2{
			width: 100%;
		}

		p:last-child{
			align-self: flex-end;
		}
	}
	
}

#wpcf7-f216-p217-o1{
	input,
	textarea{
		color:#000000;
	}
}